* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.hidden {
  visibility: hidden !important; }

ul {
  list-style: none; }

.container {
  max-width: 1400px;
  margin: 0 auto; }
  @media all and (max-width: 1400px) {
    .container {
      margin: 0 7%; } }

.photo-block, .dimming-block {
  height: 100%;
  width: 100%; }

header {
  width: 100%;
  text-align: center; }
  header .container h2, header .container p, header .container a {
    margin: 0 auto; }
  header .container h2 {
    max-width: 808px; }
  header .container p {
    max-width: 685px;
    margin-top: 50px; }

#intro-section .photo-block {
  background: url("../img/index/header_background.png") center center no-repeat;
  background-size: cover; }
#intro-section .dimming-block {
  background-color: rgba(16, 16, 16, 0.6); }
#intro-section .container {
  padding-top: 246px;
  padding-bottom: 230px; }
  #intro-section .container p {
    margin-bottom: 76px; }

.block h4 {
  margin: 0 auto 12px auto; }
.block h3 {
  margin: 12px auto 16px auto; }
.block p {
  margin: 16px auto 16px auto; }
.block ul li {
  display: block;
  margin-top: 26px; }
  .block ul li img {
    margin-right: 18px; }

.center-aligned-block, #facts-section ul li {
  text-align: center;
  margin: 0 auto; }

.left-aligned-block {
  text-align: left;
  float: left; }

.right-alined-block {
  text-align: left;
  float: right; }

nav {
  height: 142px; }
  nav .company-logo {
    margin-top: 48px;
    float: left; }
    nav .company-logo h1, nav .company-logo p {
      display: inline-block;
      vertical-align: middle; }
    nav .company-logo h1 {
      height: 45px;
      border-right-width: 1px;
      border-right-style: solid;
      padding-right: 8px;
      line-height: 42px; }
    nav .company-logo p {
      padding-left: 8px;
      text-align: left; }
  nav ul {
    float: right;
    overflow: hidden;
    margin-top: 54px; }
    nav ul li {
      float: left;
      margin-left: 60px; }
  nav.fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; }

#auto-logos-section {
  bottom: 0;
  width: 100%;
  height: 260px; }
  #auto-logos-section ul {
    text-align: center;
    padding: 0 112px; }
    #auto-logos-section ul li:nth-child(1) div {
      background: url("../img/index/volkswagen_logo.png") center center no-repeat; }
    #auto-logos-section ul li:nth-child(2) div {
      background: url("../img/index/ford_logo.png") center center no-repeat; }
    #auto-logos-section ul li:nth-child(3) div {
      background: url("../img/index/nissan_logo.png") center center no-repeat; }
    #auto-logos-section ul li:nth-child(4) div {
      background: url("../img/index/audi_logo.png") center center no-repeat; }
    #auto-logos-section ul li:nth-child(5) div {
      background: url("../img/index/skoda_logo.png") center center no-repeat; }
    #auto-logos-section ul li:nth-child(6) div {
      background: url("../img/index/infinity_logo.png") center center no-repeat; }
    #auto-logos-section ul li {
      float: left;
      width: 16.66667%; }
      #auto-logos-section ul li div {
        height: 60px;
        margin-top: 68px;
        margin-bottom: 24px; }

#optimize-section {
  height: auto;
  padding: 100px 0 164px 0;
  overflow: hidden; }
  #optimize-section .block p {
    max-width: 432px; }
  #optimize-section ul {
    margin: 88px auto 0 auto;
    max-width: 1200px; }
    #optimize-section ul li {
      display: block;
      float: left;
      width: 25%; }
      #optimize-section ul li img {
        height: 66px; }
      #optimize-section ul li h5 {
        margin-top: 28px;
        margin-bottom: 20px; }
      #optimize-section ul li p {
        max-width: 242px; }

#media-planning-section {
  position: relative;
  height: auto;
  padding-top: 112px; }
  #media-planning-section .block {
    max-width: 575px; }
  #media-planning-section ul {
    margin: 88px auto 40px auto;
    max-width: 1110px; }
    #media-planning-section ul li {
      position: relative;
      display: block;
      float: left;
      width: 33.33333%;
      height: 240px;
      padding: 0 4px; }
      #media-planning-section ul li img {
        display: block;
        margin: 0 auto; }
      #media-planning-section ul li div {
        padding: 48px 56px;
        max-width: 340px;
        margin: 0 auto;
        height: 100%;
        cursor: pointer; }
        #media-planning-section ul li div p {
          margin: 32px auto 0 auto;
          text-align: center; }
        #media-planning-section ul li div img:last-of-type {
          visibility: hidden;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%); }
      #media-planning-section ul li.active img:last-of-type {
        visibility: visible; }
    #media-planning-section ul::after {
      content: "";
      clear: both;
      display: table; }
  #media-planning-section figure {
    margin: 0 auto;
    border: 1px solid transparent; }
    #media-planning-section figure img {
      display: block;
      max-width: 1110px;
      margin: 0 auto -12% auto;
      width: 100%;
      box-shadow: 0 3px 17px 3px rgba(0, 0, 0, 0.16); }
  #media-planning-section .background-picture1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%; }
  #media-planning-section .background-picture2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%; }

#placement-section {
  margin-top: 280px;
  margin-bottom: 112px;
  overflow: auto; }
  #placement-section .container {
    position: relative;
    height: 628px; }
  #placement-section .block {
    position: relative;
    float: none;
    margin-top: 42px;
    left: 50%;
    max-width: 510px; }
  #placement-section figure img {
    position: absolute;
    top: 0;
    right: 50%; }

#reportings-section {
  height: 760px;
  background: url("../img/index/reportings_background.png") center center no-repeat;
  background-size: cover; }
  #reportings-section .block {
    max-width: 527px;
    margin-top: 116px; }

#mediastorage-section {
  height: 760px;
  overflow: hidden; }
  #mediastorage-section .container {
    position: relative;
    padding-top: 158px; }
  #mediastorage-section .block {
    max-width: 552px;
    position: relative;
    float: none;
    left: 50%; }
  #mediastorage-section figure img {
    position: absolute;
    top: 106px;
    right: 60%; }

#more-functions-section {
  padding-top: 122px;
  padding-bottom: 142px;
  overflow: hidden;
  height: auto; }
  #more-functions-section .block {
    max-width: 651px; }
  #more-functions-section ul {
    overflow: hidden; }
    #more-functions-section ul li {
      margin-top: 72px;
      margin-bottom: 20;
      text-align: center;
      display: block;
      float: left;
      width: 33.33333%;
      min-height: 252px; }
      #more-functions-section ul li img {
        margin: 0 auto;
        display: block;
        margin-bottom: 36px; }
      #more-functions-section ul li h5 {
        max-width: 240px;
        margin: 0 auto; }
      #more-functions-section ul li p {
        margin: 0 auto;
        margin-top: 20px;
        max-width: 268px; }

#integration-section {
  padding-top: 120px;
  padding-bottom: 100px;
  height: auto; }
  #integration-section .block h3 {
    max-width: 620px;
    margin-bottom: 32px; }
  #integration-section .block p {
    margin: 0 auto 68px auto;
    max-width: 580px; }

#facts-section {
  height: 760px;
  padding-top: 122px; }
  #facts-section .block {
    max-width: 677px; }
  #facts-section ul {
    margin-top: 56px; }
    #facts-section ul li {
      display: block;
      float: left;
      width: 33.33333%;
      height: 280px; }
      #facts-section ul li .icon {
        height: 52px; }
      #facts-section ul li .info {
        margin-top: 24px;
        height: 200px;
        border-right: 1px solid #2b80ff;
        padding-top: 12px; }
        #facts-section ul li .info h5 {
          margin-top: 36px; }
        #facts-section ul li .info p.text {
          margin: 0 auto;
          margin-top: 12px;
          max-width: 236px; }
    #facts-section ul li:nth-child(1) div.icon {
      background: url("../img/index/facts_icon1.png") center center no-repeat; }
    #facts-section ul li:nth-child(2) div.icon {
      background: url("../img/index/facts_icon2.png") center center no-repeat; }
    #facts-section ul li:nth-child(3) div.icon {
      background: url("../img/index/facts_icon3.png") center center no-repeat; }
    #facts-section ul li:nth-child(3) .info {
      border: none; }

#contacts-section {
  position: relative;
  height: auto;
  overflow: hidden; }
  #contacts-section .map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #2b80ff; }
  #contacts-section .block {
    float: right;
    width: 50%;
    height: 100%;
    padding: 112px 0 140px 5%; }
    #contacts-section .block h3 {
      margin-bottom: 36px; }
    #contacts-section .block p {
      margin-bottom: 36px; }

.form {
  max-width: 495px; }
  .form .short-textfield {
    height: 50px;
    width: 50%;
    float: left; }
  .form .short-textfield:first-of-type {
    padding-right: 8px; }
  .form .short-textfield:last-of-type {
    padding-left: 8px; }
  .form input, .form textarea {
    padding: 18px;
    width: 100%;
    height: 100%; }
  .form textarea {
    width: 100%;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 30px; }
  .form .button-container {
    width: 50%;
    padding-right: 8px; }
  .form input:focus,
  .form textarea:focus,
  .form button:focus {
    outline: none; }

footer .container {
  padding: 62px 112px 76px 112px; }
  footer .container .info {
    overflow: hidden;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(172, 172, 172, 0.3); }
    footer .container .info div {
      float: left; }
    footer .container .info ul {
      float: right; }
      footer .container .info ul li {
        float: left;
        margin-left: 56px; }
  footer .container .copyright {
    padding-top: 24px; }
    footer .container .copyright p:first-of-type {
      float: left; }
    footer .container .copyright p:last-of-type {
      float: right; }

#how-we-work-intro-section .photo-block {
  background: url("../img/how_we_work/header_background.png") center center no-repeat;
  background-size: cover; }
#how-we-work-intro-section .dimming-block {
  background-color: rgba(43, 128, 255, 0.8); }
#how-we-work-intro-section .container {
  padding-top: 120px;
  padding-bottom: 120px; }
#how-we-work-intro-section ul {
  margin: 0 auto;
  margin-top: 88px;
  max-width: 1200px;
  overflow: hidden; }
  #how-we-work-intro-section ul li {
    float: left;
    width: 33.33333%;
    position: relative; }
    #how-we-work-intro-section ul li p.number-in-circle {
      margin-top: 0 !important; }
    #how-we-work-intro-section ul li h5 {
      margin-top: 36px; }
    #how-we-work-intro-section ul li p {
      margin-top: 23px;
      max-width: 232px; }
    #how-we-work-intro-section ul li:after {
      content: "";
      display: block;
      position: absolute;
      height: 16px;
      top: 40px;
      left: 50%;
      right: -50%;
      margin-left: 80px;
      margin-right: 80px;
      border-style: solid;
      border-width: 4px 0px;
      -moz-border-image: url("../img/how_we_work/header_border_pattern.png") 4 125 4 30 repeat repeat;
      -webkit-border-image: url("../img/how_we_work/header_border_pattern.png") 4 125 4 30 repeat repeat;
      -o-border-image: url("../img/how_we_work/header_border_pattern.png") 4 125 4 30 repeat repeat;
      border-image: url("../img/how_we_work/header_border_pattern.png") 4 125 4 30 repeat repeat; }
    #how-we-work-intro-section ul li:last-of-type:after {
      visibility: hidden; }

#development-section {
  padding-top: 104px;
  padding-bottom: 182px; }
  #development-section .center-aligned-block, #development-section #facts-section ul li, #facts-section ul #development-section li {
    max-width: 604px; }
  #development-section .container {
    position: relative;
    padding-top: 116px; }
    #development-section .container .block {
      position: relative;
      float: none;
      left: 50%;
      max-width: 398px;
      margin-left: 66px; }
      #development-section .container .block ul li img {
        display: block;
        float: left;
        width: 24px;
        height: 24px;
        margin: 0; }
      #development-section .container .block ul li p {
        position: relative;
        top: -2px;
        margin-left: 48px;
        max-width: 356px; }
    #development-section .container figure img {
      position: absolute;
      top: 68px;
      right: 50%;
      margin-right: 44px; }

#incalcation-section {
  height: 760px; }
  #incalcation-section .container {
    padding-top: 208px;
    padding-bottom: 280px;
    position: relative; }
    #incalcation-section .container .block {
      max-width: 418px;
      position: absolute;
      right: 50%;
      margin-right: 40px; }
    #incalcation-section .container figure img {
      float: right;
      position: absolute;
      left: 50%;
      margin-left: 20px; }

#support-section {
  height: 830px;
  padding-top: 100px;
  padding-bottom: 150px; }
  #support-section .center-aligned-block, #support-section #facts-section ul li, #facts-section ul #support-section li {
    max-width: 528px; }
  #support-section .container {
    position: relative;
    padding-top: 72px; }
    #support-section .container .right-aligned-block {
      max-width: 380px;
      position: relative;
      float: none;
      left: 50%;
      margin-left: 88px; }
    #support-section .container figure img {
      position: absolute;
      top: 68px;
      right: 50%;
      margin-right: 60px; }

#in-contact-section .container {
  padding-top: 90px;
  padding-bottom: 68px; }
  #in-contact-section .container .center-aligned-block, #in-contact-section .container #facts-section ul li, #facts-section ul #in-contact-section .container li {
    max-width: 552px; }
  #in-contact-section .container img {
    display: block;
    margin-top: 36px;
    width: 98%; }

#get-demo-section .container {
  padding-top: 122px;
  padding-bottom: 122px; }
  #get-demo-section .container .center-aligned-block p, #get-demo-section .container #facts-section ul li p, #facts-section ul #get-demo-section .container li p {
    max-width: 454px; }
  #get-demo-section .container .form {
    margin: 36px auto 0px; }
    #get-demo-section .container .form .button-container {
      margin: 0 auto; }

#shadowed-navigation-section {
  box-shadow: 0px 0px 16px 4px rgba(43, 128, 255, 0.2);
  position: relative;
  z-index: 100; }

@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy/GilroyBold.eot");
  src: url("../fonts/Gilroy/GilroyBold.eot") format("embedded-opentype"), url("../fonts/Gilroy/GilroyBold.woff2") format("woff2"), url("../fonts/Gilroy/GilroyBold.woff") format("woff"), url("../fonts/Gilroy/GilroyBold.ttf") format("truetype"), url("../fonts/Gilroy/GilroyBold.svg#GilroyBold") format("svg");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy/GilroyExtraBold.eot");
  src: url("../fonts/Gilroy/GilroyExtraBold.eot") format("embedded-opentype"), url("../fonts/Gilroy/GilroyExtraBold.woff2") format("woff2"), url("../fonts/Gilroy/GilroyExtraBold.woff") format("woff"), url("../fonts/Gilroy/GilroyExtraBold.ttf") format("truetype"), url("../fonts/Gilroy/GilroyExtraBold.svg#GilroyExtraBold") format("svg");
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy/GilroyLight.eot");
  src: url("../fonts/Gilroy/GilroyLight.eot") format("embedded-opentype"), url("../fonts/Gilroy/GilroyLight.woff2") format("woff2"), url("../fonts/Gilroy/GilroyLight.woff") format("woff"), url("../fonts/Gilroy/GilroyLight.ttf") format("truetype"), url("../fonts/Gilroy/GilroyLight.svg#GilroyLight") format("svg");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy/GilroyMedium.eot");
  src: url("../fonts/Gilroy/GilroyMedium.eot") format("embedded-opentype"), url("../fonts/Gilroy/GilroyMedium.woff2") format("woff2"), url("../fonts/Gilroy/GilroyMedium.woff") format("woff"), url("../fonts/Gilroy/GilroyMedium.ttf") format("truetype"), url("../fonts/Gilroy/GilroyMedium.svg#GilroyMedium") format("svg");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy/GilroyRegular.eot");
  src: url("../fonts/Gilroy/GilroyRegular.eot") format("embedded-opentype"), url("../fonts/Gilroy/GilroyRegular.woff2") format("woff2"), url("../fonts/Gilroy/GilroyRegular.woff") format("woff"), url("../fonts/Gilroy/GilroyRegular.ttf") format("truetype"), url("../fonts/Gilroy/GilroyRegular.svg#GilroyRegular") format("svg");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy/GilroySemiBold.eot");
  src: url("../fonts/Gilroy/GilroySemiBold.eot") format("embedded-opentype"), url("../fonts/Gilroy/GilroySemiBold.woff2") format("woff2"), url("../fonts/Gilroy/GilroySemiBold.woff") format("woff"), url("../fonts/Gilroy/GilroySemiBold.ttf") format("truetype"), url("../fonts/Gilroy/GilroySemiBold.svg#GilroySemiBold") format("svg");
  font-style: normal;
  font-weight: 600; }
* {
  font-family: Gilroy, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility; }

nav h1 {
  font-size: 36px;
  font-weight: 600; }
nav p {
  font-size: 12px; }
nav ul li {
  font-size: 18px;
  line-height: 35px; }

header .container h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 55px; }
header .container p {
  font-size: 24px;
  line-height: 30px; }

.block h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 45px; }
.block h4 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase; }
.block p {
  font-size: 20px;
  line-height: 30px; }
.block ul li {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px; }

#auto-logos-section {
  font-size: 12px;
  line-height: 20px; }

#optimize-section h5 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase; }
#optimize-section li p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; }

#more-functions-section h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px; }

#facts-section .big-number {
  font-size: 64px;
  font-weight: 500;
  line-height: 63px; }
#facts-section h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px; }
#facts-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; }

.form input, .form textarea {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px; }

footer .info {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px; }
footer .copyright {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; }

#how-we-work-intro-section ul h5 {
  font-size: 22px;
  font-weight: 600; }
#how-we-work-intro-section ul p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px; }

#in-contact-section .center-aligned-block p, #in-contact-section #facts-section ul li p, #facts-section ul #in-contact-section li p {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px; }

html {
  background-color: white; }

header .container p {
  color: #f2f2f2; }

#optimize-section h5 {
  color: #333333; }
#optimize-section li p {
  color: #848789; }

#media-planning-section ul li.active div {
  border-radius: 4px;
  background-color: rgba(39, 70, 171, 0.25); }

#facts-section {
  background-color: #f7f9fe; }
  #facts-section .big-number {
    color: #333333; }
  #facts-section h5 {
    color: #333333; }
  #facts-section p {
    color: #848789; }

#mediastorage-section {
  background-color: #f7f9fe; }

#more-functions-section h5 {
  color: #333333; }

.form input, .form textarea {
  border: 1px solid #e1e1e1; }
  .form input:focus, .form textarea:focus {
    border-color: #2b80ff; }

footer .info {
  color: #ffffff; }
footer .copyright a {
  color: #848789;
  text-decoration: underline; }

#how-we-work-intro-section ul p {
  color: rgba(255, 255, 255, 0.8); }

.light-navigation {
  color: #262626; }
  .light-navigation .active {
    color: #848789; }
  .light-navigation a {
    color: #262626; }
  .light-navigation .logo {
    color: #2b80ff;
    border-color: #848789; }

.transparent-navigation {
  color: white; }
  .transparent-navigation .active {
    color: #848789; }
  .transparent-navigation .logo {
    color: white;
    border-color: white; }
  .transparent-navigation a {
    color: white; }

.light-section, .light-gray-section {
  color: black;
  background-color: white; }
  .light-section .block h4, .light-gray-section .block h4 {
    color: #2b80ff; }
  .light-section .block h3, .light-gray-section .block h3 {
    color: #333333; }
  .light-section .block p, .light-gray-section .block p {
    color: #848789; }
  .light-section a, .light-gray-section a {
    color: black; }

.light-gray-section {
  background-color: #f7f9fe; }

.dark-section {
  color: white;
  background-color: #2b80ff; }
  .dark-section a {
    color: white; }
  .dark-section .block p {
    color: rgba(255, 255, 255, 0.8); }

.gray-section {
  color: #848789;
  background-color: #333333; }
  .gray-section a {
    color: white; }

.button {
  display: block;
  width: 400px;
  font-family: Gilroy !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  line-height: initial !important;
  color: white;
  background-color: #2b80ff;
  padding: 16px 52px;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  border: none;
  cursor: pointer; }

.number-in-circle {
  display: block;
  font-size: 36px !important;
  font-weight: 600 !important;
  line-height: 96px !important;
  width: 96px !important;
  height: 96px !important;
  background-color: white;
  color: #2b80ff !important;
  box-shadow: 0 0 16px 4px rgba(43, 128, 255, 0.4);
  border-radius: 48px !important;
  border: none; }

/*# sourceMappingURL=style.css.map */
