


@mixin keyframe($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin animation($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: #{$animation};
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: #{$animation};
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: #{$animation};
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: #{$animation};
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}


@include keyframe(fadeIn) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@include keyframe(slidInLeft) {
    0% {
    	opacity: 0;
    	transform: translateX(-40px);
    }

    100% {
    	opacity: 1;
    	transform: none;
    }
}

@include keyframe(fadeInZoomOut) {
    0% {
        opacity: 0;
        transform: scale(1.1,1.1);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}




#intro-section {

	.container {
		h2, p {
			@include animation(0, $longAnimationDuration, slidInLeft);
        }
	}
}

@for $i from 1 through 4 {
    #optimize-section-icon-#{$i} {
        opacity: 0;
        transform: scale(1.1,1.1);
    }
}

@for $i from 1 through 5 {
    #placement-section ul li:nth-child(#{$i}) {
        opacity: 0;
        transform: translateX(150px);
    }
}

#placement-section figure img {
    opacity: 0;
    transform: translateX(-50px);
}

@for $i from 1 through 4 {
    #reportings-section ul li:nth-child(#{$i}) {
        opacity: 0;
        transform: translateX(-150px);
    }
}

#reportings-section {
    opacity: 0;
}

@for $i from 1 through 3 {
    #mediastorage-section ul li:nth-child(#{$i}) {
        opacity: 0;
        transform: translateX(150px);
    }
}

#mediastorage-section figure img {
    opacity: 0;
    transform: scale(1.1, 1.1);
    transform: translateX(40px);
}




