


@mixin keyframe($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin animation($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: #{$animation};
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: #{$animation};
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: #{$animation};
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: #{$animation};
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}


@include keyframe(fadeIn) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@include keyframe(slidInLeft) {
    0% {
    	opacity: 0;
    	transform: translateX(-40px);
    }

    100% {
    	opacity: 1;
    	transform: none;
    }
}

@include keyframe(fadeInZoomOut) {
    0% {
        opacity: 0;
        transform: scale(1.1,1.1);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}


#intro-section {
    background-color: white;
    opacity: 0;
}


@for $i from 1 through 4 {
    #optimize-section-icon-#{$i} {
        opacity: 0;
        transform: scale(1.2);
    }
}


#placement-section {

    ul {
        opacity: 0;
        transform: translate(20px, 20px);
    }

    figure img {
        opacity: 0;
        transform: translateX(-50px);
    }
}


#reportings-section {

    .img {
        opacity: 0;
        transform: translateX(50px);
    }

    ul {
        opacity: 0;
        transform: translate(-20px, 20px);
    }
}


#media-planning-section {
    figure {
        @media all and (min-width: 1025px) {
            opacity: 0;

            &.active {
                opacity: 1;
            }
        }
    }
}


#mediastorage-section {
    
    ul {
        opacity: 0;
        transform: translate(20px, 20px);
    }

    figure img {
        opacity: 0;
        transform: translateX(-40px);
    }
}


#more-functions-section ul li {
    transform: translateY(-60px);
    opacity: 0;
}


#integration-section {
    p, h3, img {
        opacity: 0;
    }

    p, h3 {
        transform: translateX(-40px);
    }

    img {
        transform: translateX(40px);
    }
}

#facts-section {
    .info {
    -webkit-transition : border 500ms ease-out;
      -moz-transition : border 500ms ease-out;
      -o-transition : border 500ms ease-out;
      transition : border 500ms ease-out;
    }
}


#how-we-work-intro-section {

    @media all and (min-width: $mobile-breakpoint + 1) {
    
        .photo-block, .container {
            opacity: 0;
        }

        ul li {

            p:last-child, h5 {
            }

            &:after {
                opacity: 0;
                transition: 1s;
            }

            &.presented:after {
                opacity: 1;
            }
        }
    }
}

#development-section {
    ul li {
        &::after {
            opacity: 0;
            transition: 1s;
        }

        &.presented::after {
            opacity: 1;
        }
    }
}

#in-contact-section {
    background-color: white;
}

