html {
	background-color: white;
}

header {
	.container {
		p {
			color: #f2f2f2;
		}
	}
}

#auto-logos-section {
	h5 {
		color: #969899;
	}
}

#optimize-section {
	h5 {
		color: #333333;
	}

	li {
		p {
			color: #848789;
		}
	}
}

#media-planning-section {
	ul {
		li.active {
			div {
				border-radius: 4px;
				background-color: rgba(39, 70, 171, 0.25);
			}
		}
	}
}


#facts-section {

	background-color: #f7f9fe;

	.big-number {
		color: #333333;
	}

	h5 {
		color: #333333;
	}

	p {
		color: #848789;
	}
}

#mediastorage-section { 
	background-color: #f7f9fe;
}

#more-functions-section {
	h5 {
		color: #333333;
	}
	ul {
		p {
			color: #848789;
		}
	}
}

.form {
	input, textarea {
		border: 1px solid #e1e1e1;

		&:focus {
			border-color: $primary-color;
		}
	}
}

footer {
	.info {
		color: #ffffff;
	}

	.copyright {
		a {
			color: #848789;
			text-decoration: underline;
		}
	}
}

#how-we-work-intro-section {
	ul {
		p {
			color: rgba(255, 255, 255, 0.8);
		}
	}
}

nav {
	li {
		a {
			transition: $mediumAnimationDuration;
		}
	}


	li:hover {
		a {
			color: #848789;
		}
	}
}

#in-contact-section {
	p {
		color: white;
	}
}

@mixin light-navigation() {
	color: #333333;


	.active {
		color: #848789;
	}

	a {
		color: #333333;

		&:hover {
			color: #848789;
		}
	}

	.company-logo {
		& > a:hover {
			color: #333;
		}
	}

	.logo {
		color: $primary-color;
		border-color: transparentize(#848789, 0.4);
	}

	#navicon {
		span, span::before, span::after {
			background-color: #333333;
		}
	}

	@media all and (max-width: $mobile-breakpoint) {
		color: $primary-color;
		background-color: white;

		#navicon {
			span, span::before, span::after {
				background-color: $primary-color;
			}
		}
	}
}

.light-navigation {
	@include light-navigation();
}

@mixin transparent-navigation() {
	color: white;

	.active {
		color: #848789;
	}

	.logo {
		color: white;
		border-color: transparentize(white, 0.4);
	}

	a {
		color: white;
	}

	#navicon {
		span, span::before, span::after {
			background-color: white;
		}
	}
}

.transparent-navigation {
	@include transparent-navigation();
}

#how-we-work-navigation {
	@media all and (max-width: 1000000px) and (min-width:1025px) {
		@include light-navigation();
	}

	@media all and (max-width: 1024px) and (min-width:($mobile-breakpoint + 1)) {
		@include transparent-navigation();
	}

	@media all and (max-width: $mobile-breakpoint) {
		@include light-navigation();
	}

}

nav.active {
	.active {
		color: #848789;
	}

	background-color: white !important;

	.company-logo {
		a {
			color: #333333 !important;
		}

		a:hover {
			color: #333;
		}
	}

	.logo {
		color: $primary-color !important;
		border-color: transparentize(#848789, 0.4) !important;
	}

	#navicon {
		span::before, span::after {
			background-color: $primary-color !important;
		}
	}

	@media all and (max-width: $mobile-breakpoint) {
		color: $primary-color;
		background-color: white;

		#navicon {
			span::before, span::after {
				background-color: $primary-color;
			}
		}
	}
}

#menu {

	@media all and (max-width: 1024px) {
		background-color: transparentize(#f2f4fa, 0.05);

		ul:first-child {
			a {
				color: #333;

				&:hover {

				color: #848789;

				}
			}
			

		}
}
}

.light-section {
	color: black;
	background-color: white;

	.block {
		h4 {
			color: $primary-color;
		}

		h3 {
			color: #333333;
		}

		p, li {
			color: #848789;
		}
	}

	a {
		color: black;
	}
}

.light-gray-section {
	@extend .light-section;

	background-color: #f7f9fe;
}

.dark-section {
	color: white;

	h4 {
		color: transparentize(#fff, 0.2);
	}

	background-color: $primary-color;

	a {
		color: white;
	}
	
	.block {
		p {
			color: rgba(255, 255, 255, 0.8);
		}
	}
	
}

.gray-section {

	color: #848789;
	background-color: #333333;

	a {
		color: white;
	}
	
	a:hover {
		color: #bcbcbc;
	}
}

.button, .small-button {
	color: white !important;
	background-color: $primary-color;
}

.button:hover, .small-button:hover {
	background-color: #2570e1;

	-webkit-box-shadow: 0 0 35px 0 transparentize(#999, 0.6);
	-moz-box-shadow: 0 0 35px 0 transparentize(#999, 0.6);
	box-shadow: 0 0 35px 0 transparentize(#999, 0.6);
}

.small-button-inverted {
	color: $primary-color !important;
	background-color: transparent;
	border-color: $primary-color;
}

.small-button-inverted:hover {
	color: white !important;
	background-color: $primary-color;

	-webkit-box-shadow: 0 0 35px 0 transparentize(#999, 0.6);
	-moz-box-shadow: 0 0 35px 0 transparentize(#999, 0.6);
	box-shadow: 0 0 35px 0 transparentize(#999, 0.6);
}

.call-to-action {
	color: white;
	background-color: $primary-color;
}