@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy/GilroyBold.eot');
    src: url('../fonts/Gilroy/GilroyBold.eot') format('embedded-opentype'),
    url('../fonts/Gilroy/GilroyBold.woff2') format('woff2'),
    url('../fonts/Gilroy/GilroyBold.woff') format('woff'),
    url('../fonts/Gilroy/GilroyBold.ttf') format('truetype'),
    url('../fonts/Gilroy/GilroyBold.svg#GilroyBold') format('svg');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy/GilroyExtraBold.eot');
    src: url('../fonts/Gilroy/GilroyExtraBold.eot') format('embedded-opentype'),
    url('../fonts/Gilroy/GilroyExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy/GilroyExtraBold.woff') format('woff'),
    url('../fonts/Gilroy/GilroyExtraBold.ttf') format('truetype'),
    url('../fonts/Gilroy/GilroyExtraBold.svg#GilroyExtraBold') format('svg');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy/GilroyLight.eot');
    src: url('../fonts/Gilroy/GilroyLight.eot') format('embedded-opentype'),
    url('../fonts/Gilroy/GilroyLight.woff2') format('woff2'),
    url('../fonts/Gilroy/GilroyLight.woff') format('woff'),
    url('../fonts/Gilroy/GilroyLight.ttf') format('truetype'),
    url('../fonts/Gilroy/GilroyLight.svg#GilroyLight') format('svg');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy/GilroyMedium.eot');
    src: url('../fonts/Gilroy/GilroyMedium.eot') format('embedded-opentype'),
    url('../fonts/Gilroy/GilroyMedium.woff2') format('woff2'),
    url('../fonts/Gilroy/GilroyMedium.woff') format('woff'),
    url('../fonts/Gilroy/GilroyMedium.ttf') format('truetype'),
    url('../fonts/Gilroy/GilroyMedium.svg#GilroyMedium') format('svg');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy/GilroyRegular.eot');
    src: url('../fonts/Gilroy/GilroyRegular.eot') format('embedded-opentype'),
    url('../fonts/Gilroy/GilroyRegular.woff2') format('woff2'),
    url('../fonts/Gilroy/GilroyRegular.woff') format('woff'),
    url('../fonts/Gilroy/GilroyRegular.ttf') format('truetype'),
    url('../fonts/Gilroy/GilroyRegular.svg#GilroyRegular') format('svg');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy/GilroySemiBold.eot');
    src: url('../fonts/Gilroy/GilroySemiBold.eot') format('embedded-opentype'),
    url('../fonts/Gilroy/GilroySemiBold.woff2') format('woff2'),
    url('../fonts/Gilroy/GilroySemiBold.woff') format('woff'),
    url('../fonts/Gilroy/GilroySemiBold.ttf') format('truetype'),
    url('../fonts/Gilroy/GilroySemiBold.svg#GilroySemiBold') format('svg');
    font-style: normal;
    font-weight: 600;
}


* {
    font-family: Gilroy, Helvetica, Arial, sans-serif;
    font-weight: 400;
}


nav {
    h1 {
        font-size: 32px;
        @media all and (max-width: 1024px) {
            font-size: 28px;
        }
        @media all and (max-width: 768px) {
            font-size: 18px;
        }

        font-weight: 600;
    }

    p {
        font-size: 12px;
        @media all and (max-width: 1024px) {
            font-size: 10px;
        }
    }

    ul {
        li {
            font-size: 18px;
            line-height: 35px;
        }
    }
}

header {
    .container {
        & > h2 {
            font-size: 48px;
            font-weight: 600;
            line-height: 55px;

            @media all and (max-width: 1024px) {
                font-size: 42px;
                line-height: 50px;
            }

            @media all and (max-width: 768px) {
                font-size: 22px;
                line-height: 25px;
            }

        }

        & > p {

            font-size: 24px;
            line-height: 35px;
            @media all and (max-width: 1024px) {
                font-size: 20px;
            }
            @media all and (max-width: 768px) {
                font-size: 14px;
                line-height: 20px;
            }
        }   
    }
}

.block {
    h3 {
        font-size: 32px;
        font-weight: 600;
        line-height: 45px;
    }

    h4 {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;


    }

    & > p {
        font-size: 20px;
        line-height: 30px;
    }

    ul {
        li, p {
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
        }
    }
}


.light-section {
    h4 {
        font-weight: 500;
    }
}

@media all and (max-width: 1024px) {
    .block {
        h3 {
            font-size: 26px;
            line-height: 35px;
        }

        h4 {
            font-size: 14px;
        }

        p {
            font-size: 16px;
        }
    }
}

@media all and (max-width: 768px) {
    .block {
        h3 {
            font-size: 18px;
            line-height: 25px;
        }

        h4 {
            font-size: 9px;
        }

        p {
            font-size: 13px;
            line-height: 20px;
        }

        ul { 
            li, p {
                font-size: 13px;
                } 
            }
    }
}

#auto-logos-section {
    font-size: 12px;
    line-height: 20px;

    @media all and (max-width: 1024px) {
        font-size: 9px;
        font-weight: 400;
        line-height: 10px;
    }
}

#optimize-section {
    h5 {
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.08em;
    }

    li {
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }
    }

    @media all and (max-width: 1024px) {
        h5 {
            font-size: 15px;
        }

        li {
            p {
                font-size: 14px;
            }
        }
    }
}

#media-planning-section {
    @media all and (max-width: 1024px) {
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
    }
}

#more-functions-section {
    h5 {
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;

        @media all and (max-width: 1024px) {
            font-size: 16px;
        }
    }

    ul{
        li {
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;

                @media all and (max-width: 1024px) {
                    font-size: 12px;
                }
            }
        }

    }


}

#facts-section {

    .big-number {
        font-size: 64px;
        font-weight: 500;
        line-height: 63px;

        @media all and (max-width: 1024px) {
            font-size: 50px;
        }
    }

    ul {

        h5 {
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;

            @media all and (max-width: 1024px) {
                font-size: 14px;
            }
        }
    }
}

.form {
    input, textarea {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;

        @media all and (max-width: 1024px) {
            font-size: 14px;
        }
    }

    .button {
        line-height: 50px;
    }
}


footer {
    .info {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        
        @media all and (max-width: 1024px) {
            font-size: 15px;
        }

        @media all and (max-width: 768px) {
            font-size: 14px;
        }
    }


    .copyright {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;

        @media all and (max-width: 1024px) {
            font-size: 15px;
        }

        @media all and (max-width: 768px) {
            font-size: 10px;
            line-height: 16px;
        }
    }
}

#how-we-work-intro-section {

    ul {

        h5 {

            font-size: 22px;
            font-weight: 600;

            @media all and (max-width: $mobile-breakpoint) {
                font-size: 16px;
            }
        }

        p {

            font-size: 16px;
            font-weight: 400;
            line-height: 25px;

            @media all and (max-width: 1024px) {
                font-size: 14px;
            }

            @media all and (max-width: $mobile-breakpoint) {
                line-height: 20px;
            }
        }
    }
}

#support-section {
    ul {
        li {
            p {
                // font-size: 16px;
            }
        }
    }
}

#in-contact-section {
    .center-aligned-block {
        p {
            font-size: 32px;
            font-weight: 500;
            line-height: 40px;

            @media all and (max-width: 1024px) {
                font-size: 26px;
                line-height: 35px;
            }

            @media all and (max-width: 768px) {
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
}


