
// section, nav, header, footer, div, p, h5, img, li {
// 	border: 1px solid black;
// 	background-color: rgba(0,255,0,0.1);
// }

body {
	overflow-x: hidden;
}

ul {
	list-style: none;
}

$nav-bar-height: 125px;
$container-max-width: 1400px;


.container {
	max-width: $container-max-width;
	margin: 0 auto;
	padding: 0 100px;

	@media all and (max-width: 1024px) {
		margin: 0 35px;
		padding: 0;
	}

}

.photo-block, .dimming-block {
	height: 100%;
	width: 100%;
}

header {
	width: 100%;
	text-align: center;

	.container {
		
		padding-left: 60px;
		padding-right: 60px;

		h2, p, a {
			margin: 0 auto;
		}

		h2 {
			max-width: 808px;
		}

		p {
			max-width: 685px;
			margin-top: 50px;
		}
	}
}

#intro-section {

	.photo-block {
		background: url('../img/index/header_background.png') center center no-repeat;
		background-size: cover;
	}

	.dimming-block {
		background-color: rgba(16, 16, 16, 0.6);
	}

	.container {

		padding-top: 246px;
		padding-bottom: 230px;

		p {
			margin-bottom: 76px;
		}

	}
}

.block {
	h4 {
		margin: 0 auto 12px auto;
	}

	h3 {
		margin: 12px auto 16px auto;
	}

	p {
		margin: 16px auto 16px auto;
	}

	ul {
		li {
			display: block;
			margin-top: 26px;

			img {
				margin-right: 18px;
			}
		}
	}
}

.center-aligned-block {
	text-align: center;
	margin: 0 auto;
}

.left-aligned-block {
	text-align: left;
	float: left;
}

.right-alined-block {
	text-align: left;
	float: right;
}

nav {
	height: $nav-bar-height;
	// position: relative;

	.company-logo {
		margin-top: 48px;
		float: left;

		@media all and (max-width: 1024px) {
			margin-top: 30px;
		}

		h1, p {
			display: inline-block;
			vertical-align: middle;
		}

		h1 {
			height: 45px;

			@media all and (max-width: 1024px) {
				height: 30px;
				line-height: 28px;
			}

			border-right-width: 1px;
			border-right-style: solid;
			padding-right: 8px;
			line-height: 42px;
		}

		p {
			padding-left: 8px;
			text-align: left;
		}
	}

	ul {
		float: right;
		overflow: hidden;
		margin-top: 54px;

		@media all and (max-width: 1024px) {
			// margin-top: 28px;
		}

		li {
			float: left;	
			margin-left: 60px;

			@media all and (max-width: 1024px) {
				display: none;
			}
		}

		li:last-of-type {
			display: none;

			@media all and (max-width: 1024px) {
				display: block;
				position: absolute;
				top: 30px;
				right: 50px;
			}
		}
	}

	&.fixed {

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		z-index: 100;
	}
}


#auto-logos-section {

	width: 100%;
	overflow: hidden;

	padding-bottom: 72px;

	@media all and (max-width: 1024px) {
		padding-bottom: 58px;		
	}

	ul {
		text-align: center;			
		max-width: 1176px;

		li:nth-child(1) {
			div {
				background: url('../img/index/volkswagen_logo.png') center center no-repeat;
			}
		}
		li:nth-child(2) {
			div {
				background: url('../img/index/ford_logo.png') center center no-repeat;
			}
		}
		li:nth-child(3) {
			div {
				background: url('../img/index/nissan_logo.png') center center no-repeat;
			}
		}
		li:nth-child(4) {
			div {
				background: url('../img/index/audi_logo.png') center center no-repeat;
			}
		}
		li:nth-child(5) {
			div {
				background: url('../img/index/skoda_logo.png') center center no-repeat;
			}
		}
		li:nth-child(6) {
			div {
				background: url('../img/index/infinity_logo.png') center center no-repeat;
			}
		}

		li {
			float: left;
			width: (100%/6);
			margin-top: 68px;

			@media all and (max-width: 1024px) {
				width: (100%/3);
				margin-top: 24px;
			}
			
			div {
				min-height: 60px;

				@media all and (max-width: 1024px) {
					transform: scale(0.6666, 0.6666);
				}
			}

			p {
				margin-top: 24px;
				@media all and (max-width: 1024px) {
					margin-top: 0px;
				}
			}

		}
	}
}

#optimize-section {
	height: auto;
	padding: 100px 0 164px 0;

	@media all and (max-width: 1024px) {
		padding: 72px 0 124px 0;
	}
	overflow: hidden;

	.block {
		p {
			max-width: 432px;
		}

		@media all and (max-width: 1024px) {
			
			p {
				max-width: 338px;
			}
			ul {
				li {
					margin-top: 42px;
				}
			}
		}
	}

	ul {
		margin: 88px auto 0 auto;
		max-width: 1200px;

		@media all and (max-width: 1024px) {
			margin-top: 32px;
			max-width: 600px;
		}		

		li {
			display: block;
			float: left;
			width: (100%/4);

			@media all and (max-width: 1024px) {
				width: 50%;
			}

			img {
				height: 66px;
				margin-right: 0 !important;
			}

			h5 {
				margin-top: 28px;
				margin-bottom: 20px;
			}

			p {
				max-width: 242px !important;

				@media all and (max-width: 1024px) {
					max-width: 214px !important;			
				}
			}
		}
	}
}

#media-planning-section {
	position: relative;
	height: auto;
	padding-top: 112px;

	@media all and (max-width: 1024px) {
		padding-top: 72px;
	}

	.block {
		max-width: 575px;

		@media all and (max-width: 1024px) {
			max-width: 459px;
		}
	}

	#arrow-back, #arrow-forward {
		display: none;
	}

	@media all and (max-width: 1024px) {

		#arrow-back, #arrow-forward {
			display: block !important;
			position: absolute !important;
			top: 54px;
			cursor: pointer;
			z-index: 200;
		}

		#arrow-back {
			left: 54px;
		}

		#arrow-forward {
			right: 54px;
		}
	}

	.container div:nth-of-type(2) {
		position: relative;
		
		margin: 88px auto 40px auto;
		max-width: 1110px;

		@media all and (max-width: 1024px) {
			margin: 66px 80px 36px 80px;
		}
	}

	ul {
		position: relative;

		@media all and (max-width: 1024px) {
			max-width: none;
		}

		li {
			position: relative;
			display: block;
			float: left;
			width: (100%/3);
			height: 240px;

			@media all and (max-width: 1024px) {
				width: 100%;
				display: none;
			}

			img {
				display: block;
				margin: 0 auto;
			}

			div {

				padding: 48px 56px;
				
				@media all and (max-width: 1024px) {
					max-width: none;
					padding: 38px 0 0 0;
				}				

				margin: 0 auto;
				height: 100%;
				cursor: pointer;

				p {
					margin: 32px auto 0 auto;
					text-align: center;
					@media all and (max-width: 1024px) {
						max-width: 212px;
					}
				}

				img:last-of-type {
					visibility: hidden;
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
				}

				@media all and (max-width: 1024px) {
					cursor: auto;
				}

			}

			&.active {
				img:last-of-type {
					visibility: visible;
				}

				@media all and (max-width: 1024px) {
					display: block;
				}
			}
		}

		&::after {
			content: "";
			clear: both;
			display: table;
		}

	}

	figure {
		margin: 0 auto;
		border: 1px solid transparent;
		display: none;
		position: relative;
		transition: 1s;

		@media all and (max-width: 1024px) {
			margin: 0 80px;	
		}

		img {
			display: block;
			box-shadow: 0 3px 17px 3px rgba(0, 0, 0, 0.16);
			width: 100%;
			margin: 0 auto -12% auto;
			max-width: 1110px;

		}

		&.active {
			display: block;
		}
	}

	.background-picture1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 30%;
		@media all and (max-width: 1024px) {
			width: 50%;
			opacity: 0.3;
		}
	}

	.background-picture2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 30%;

		@media all and (max-width: 1024px) {
			display: none;
		}
	}
}

#placement-section {

	margin-top: 280px;
	margin-bottom: 112px;
	overflow: auto;

	@media all and (max-width: 1024px) {
		margin-top: 210px;
		margin-bottom: 52px;
	}

	.container {
		position: relative;
		height:628px;

		@media all and (max-width: 1024px) {
			border: 1px solid transparent;
			height: 378px;
		}
	}

	.block {
		position: relative;
		float: none;
		margin-top: 42px;
		left: 50%;
		max-width: 510px;


		@media all and (max-width: 1024px) {
			max-width: 357px;
			left: 45%;

			ul {
				display: none;
			}
		}
	}

	figure {

		img {
			position: absolute;
			height: 100%;
			top: 0;
			right: 50%;

			@media all and (max-width: 1024px) {
				right: 52%;
			}
		}
	}
}

#reportings-section {
	height: 760px;

	@media all and (max-width: 1024px) {
		height: 460px;
	}

	background: url('../img/index/reportings_background.png') center center no-repeat;
	background-size: cover;

	.block {
		max-width: 527px;
		margin-top: 116px;

		@media all and (max-width: 1024px) {
			max-width: 348px;
			margin-top: 88px;
			margin-left: 24px;

			ul {
				display: none;
			}
		}
	}
}

#mediastorage-section {
	height: 760px;
	overflow: hidden;

	@media all and (max-width: 1024px) {
		height: 590px;
	}

	.container {
		position: relative;
		padding-top: 158px;

		@media all and (max-width: 1024px) {
			padding-top: 130px;
		}
	}

	.block {
		max-width: 552px;
		position: relative;
		float: none;
		left: 50%;

		@media all and (max-width: 1024px) {
			
			left: 45%;
			max-width: 334px;

			ul {
				display: none;
			}
		}
	}

	figure {
		img {
			position: absolute;
			top: 106px;
			right: 60%;

			@media all and (max-width: 1024px) {
				top: 84px;
				right: 63%;
				height: 400px;
			}
		}
	}
}

#more-functions-section {

	padding-top: 122px;
	padding-bottom: 142px;
	

	overflow: hidden;
	height: auto;

	@media all and (max-width: 1024px) {
		padding-top: 64px;
		padding-bottom: 100px;
	}

	.block {
		max-width: 651px;

		@media all and (max-width: 1024px) {
			p {
				max-width: 394px;
			}
		}
	}

	ul {
		overflow: hidden;

		@media all and (max-width: 1024px) {
			margin-top: 40px;
		}

		li {
			
			margin-top: 72px;
			margin-bottom: 20;
			text-align: center;
			display: block;
			float: left;
			width: (100%/3);
			min-height: 252px;

			@media all and (max-width: 1024px) {
				min-height: 248px;
				margin-top: 40px;
			}

			img {
				margin: 0 auto;
				display: block;
				margin-bottom: 36px;
			}

			h5 {
				max-width: 240px;
				@media all and (max-width: 1024px) {
					max-width: 210px;
				}

				margin: 0 auto;
			}

			p {
				margin: 0 auto;
				margin-top: 20px;
				max-width: 268px;

				@media all and (max-width: 1024px) {
					max-width: 200px;
				}
			}
		}
	}
}

#integration-section {
	padding-top: 120px;
	padding-bottom: 100px;
	height: auto;

	@media all and (max-width: 1024px) {
		padding-top: 90px;
	}

	.block {

		h3 {
			max-width: 620px;
			margin-bottom: 32px;

			@media all and (max-width: 1024px) {
				max-width: 504px;
			}
		}

		p {
			margin: 0 auto 68px auto;
			max-width: 580px;

			@media all and (max-width: 1024px) {
				max-width: 462px;
			}
		}

		@media all and (max-width: 1024px) {
			width: 474px;
		}

	}
}

#facts-section {
	height: 760px;
	padding-top: 122px;

	@media all and (max-width: 1024px) {
		height: 640px;
		padding-top: 76px;
	}

	.block {
		max-width: 677px;

		@media all and (max-width: 1024px) {

			p {
				max-width: 404px;
			}
		}
	}

	ul {
		margin-top: 56px;


@media all and (max-width: 1024px) {
			margin-top: 80px;
		}
		li {
			@extend .center-aligned-block;
			display: block;
			float: left;
			width: (100%/3);
			height: 280px;

			.icon {
				height: 52px;

				@media all and (max-width: 1024px) {
					height: 41px;
				}
			}

			.info {
				margin-top: 24px;
				height: 200px;
				border-right: 1px solid #2b80ff;
				padding-top: 12px;
				
				@media all and (max-width: 1024px) {
					margin-top: 32px;
					padding-top: 0;
					border: none;
				}

				h5 {
					margin-top: 36px;	

					@media all and (max-width: 1024px) {
						margin-top: 24px;
					}				
				}

				p.text {
					margin: 0 auto;
					margin-top: 12px;
					max-width: 236px;
				}
			}
		}

		li:nth-child(1) {
			div.icon {
				background: url('../img/index/facts_icon1.png') center center no-repeat;
				@media all and (max-width: 1024px) {
					background-size: contain;
				}
			}
		}
		
		li:nth-child(2) {
			div.icon {
				background: url('../img/index/facts_icon2.png') center center no-repeat;
				@media all and (max-width: 1024px) {
					background-size: contain;
				}
			}
		}

		li:nth-child(3) {
			div.icon {
				background: url('../img/index/facts_icon3.png') center center no-repeat;
				@media all and (max-width: 1024px) {
					background-size: contain;
				}
			}

			.info {
				border: none;
			}
		}
	}
}

#contacts-section {

	position: relative;
	height: auto;
	overflow: hidden;

	.map {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 50%;
		background-color: #2b80ff;

		@media all and (max-width: 1024px) {
			display: none;
		}
	}

	.block {
		float: right;
		width: 50%;
		height: 100%;
		padding: 112px 0 140px 5%;

		@media all and (max-width: 1024px) {
			float: none;
			width: 100%;
			max-width: 500px;
			padding: 76px 0 100px;
			margin: 0 auto;
			text-align: center;

			.button-container {
				margin-left: auto;
				margin-right: auto;
			}
		}

		h3 {
			margin-bottom: 36px;
		}

		p {
			margin-bottom: 36px;
		}
	}
}

.form {
	max-width: 495px;

	.short-textfield {
		height: 50px;
		width: 50%;
		float: left;
	}

	.short-textfield:first-of-type {
		padding-right: 8px;
	}

	.short-textfield:last-of-type {
		padding-left: 8px;
	}

	input, textarea {
		padding: 18px;
		width: 100%;
		height: 100%;
	}

	textarea {
		width: 100%;
		height: 110px;
		margin-top:20px;
		margin-bottom: 30px;

	}

	.button-container {
		width: 50%;
		padding-right: 8px;
	}

	input:focus,
	textarea:focus,
	button:focus {
		outline: none;
	}
}

footer {
	.container {
		padding: 62px 112px 76px 112px;

		@media all and (max-width: 1024px) {
			padding-left: initial; 
			padding-right: initial;
			padding-bottom: 62px;
		}
		
		.info {
			overflow: hidden;
			padding-bottom: 100px;
			border-bottom: 1px solid rgba(172, 172, 172, 0.3);


			div {
				float: left;
			}

			ul {
				float: right;

				li {
					float: left;
					margin-left: 56px;
				}
			}
		}

		.copyright {

			padding-top: 24px;

			p:first-of-type {
				float: left;
			}

			p:last-of-type {
				float: right;
			}
		}
	}

}



#how-we-work-intro-section {

	.photo-block {
		background: url('../img/how_we_work/header_background.png') center center no-repeat;
		background-size: cover;
	}

	.dimming-block {
		background-color: transparentize($primary-color, 0.2);
	}

	.container {
		padding-top: 120px;
		padding-bottom: 120px;

		@media all and (max-width: 1024px) {
			padding-top: 156px;
			padding-bottom: 132px;
		}
	}

	ul {
		margin: 0 auto;
		margin-top: 88px;
		max-width: 1200px;
		overflow: hidden;

		li {
			float: left;
			width: (100%/3);
			position: relative;

			p.number-in-circle {
				margin-top: 0 !important;

			}


			h5 {
				margin-top: 36px;
			}

			p {
				margin-top: 23px;
				max-width: 232px;
			}

			&:after {
				content: "";
				display: block;
				position: absolute;
				height: 16px;
				top: 40px;
				left: 50%;
				right: -50%;
				margin-left: 80px;
				margin-right: 80px;

				border-style: solid;
				border-width: 4px 0px;
				-moz-border-image: url('../img/how_we_work/header_border_pattern.png') 4 125 4 30 repeat repeat;
				-webkit-border-image: url('../img/how_we_work/header_border_pattern.png') 4 125 4 30 repeat repeat;
				-o-border-image: url('../img/how_we_work/header_border_pattern.png') 4 125 4 30 repeat repeat;
				border-image: url('../img/how_we_work/header_border_pattern.png') 4 125 4 30 repeat repeat;
			}

			&:last-of-type:after {
				visibility: hidden;
			}

		}
	}
}

#development-section {

	padding-top: 104px;
	padding-bottom: 182px;

	@media all and (max-width: 1024px) {
		padding-top: 84px;
	}
	
	.center-aligned-block {
		max-width: 604px;
	}

	.container {
		position: relative;
		padding-top: 116px;

		@media all and (max-width: 1024px) {
			padding-top: 56px;
		}

		.block {
			position: relative;
			float: none;
			left: 50%;

			@media all and (max-width: 1024px) {
				margin-left: -25px;
			}

			max-width: 368px;
			margin-left: 66px;
			ul {
				li {
					img {
						display: block;
						float: left;
						width: 24px;
						height: 24px;
						margin: 0;
					}

					p {
						position: relative;
						top: -2px;
						margin-left: 48px;
						max-width: 356px; 
					}
				}
			}
		}

		figure {
			img {
				position: absolute;
				top: 68px;
				right: 50%;
				margin-right: 44px;

				@media all and (max-width: 1024px) {
					height: 329px;
					top: -8px;
					margin-right: 108px;
				}
			}
		}
	}
}

#incalcation-section {
	height: 760px;

	@media all and (max-width: 1024px) {
		height: 520px;
	}

	.container {
		padding-top: 208px;
		padding-bottom: 280px;

		@media all and (max-width: 1024px) {
			padding-top: 136px;
			padding-bottom: 166px;
		}

		position: relative;

		.block {
			max-width: 418px;
			position: absolute;
			right: 50%;
			margin-right: 40px;

			@media all and (max-width: 1024px) {
				margin-left: 32px;
				max-width: 342px;
				margin-right: 0;
			}
		}

		figure {
			img {
				float: right;
				position: absolute;
				left: 50%;
				margin-left: 20px;

				@media all and (max-width: 1024px) {
					margin-left: 66px;
					top: 16px;
				}
			}
		}
	}
}

#support-section {

	height: 830px;
	padding-top: 100px;
	padding-bottom: 150px;

	@media all and (max-width: 1024px) {
		height: 760px;
		padding-top: 84px;
	}

	.center-aligned-block {
		max-width: 528px;

		@media all and (max-width: 1024px) {
			max-width: 424px;
		}
	}
	
	.container {
		position: relative;
		padding-top: 72px;

		@media all and (max-width: 1024px) {
			padding-top: 60px;
		}

		.right-aligned-block {
			max-width: 380px;
			position: relative;
			float: none;
			left: 50%;

			margin-left: 88px;

			@media all and (max-width: 1024px) {
				max-width: 358px;
				margin-left: 12px;

				ul {
					li {
						img {		
							display: block;
							float: left;
						}
						p {
							padding-left: 24px;
							position: relative;
							top:-4px;
						}
					}
				}
			}

		}

		figure {
			img {
				position: absolute;
				top: 68px;
				right: 50%;
				margin-right: 60px;

				@media all and (max-width: 1024px) {
					margin-right: 72px;
					top: 56px;
				}
			}
		}
	}
}

#in-contact-section {
	.container {
		padding-top: 90px;
		padding-bottom: 68px;

		@media all and (max-width: 1024px) {
			padding-top: 84px;
			padding-bottom: 96px;
		}

		.center-aligned-block {
			max-width: 552px;
		}

		img {
			display: block;
			margin-top: 36px;
			width: 98%;
		}
	}
}

#get-demo-section {
	.container {
		padding-top: 122px;
		padding-bottom: 122px;

		.center-aligned-block {
			p {
				max-width: 454px;
			}
		}

		.form {
			margin: 36px auto 0px;

			.button-container {
				margin: 0 auto;
			}
		}
	}
}

#shadowed-navigation-section {
	box-shadow: 0px 0px 16px 4px rgba(43, 128, 255, 0.2);
	position: relative;
	z-index: 100;
}

