
// section, nav, header, footer, div, p, h5, img, li {
// 	border: 1px solid black;
// 	background-color: rgba(0,255,0,0.1);
// }



ul {
	list-style: none;
}

$nav-bar-height: 142px;
$container-max-width: 1400px;


.container {
	max-width: $container-max-width;
	margin: 0 auto;

	@media all and (max-width: 1400px) {
		margin: 0 7%;
	}

}

.photo-block, .dimming-block {
	height: 100%;
	width: 100%;
}

header {
	width: 100%;
	text-align: center;

	.container {

		h2, p, a {
			margin: 0 auto;
		}

		h2 {
			max-width: 808px;
		}

		p {
			max-width: 685px;
			margin-top: 50px;
		}
	}
}

#intro-section {

	.photo-block {
		background: url('../img/index/header_background.png') center center no-repeat;
		background-size: cover;
	}

	.dimming-block {
		background-color: rgba(16, 16, 16, 0.6);
	}

	.container {

		padding-top: 246px;
		padding-bottom: 230px;

		p {
			margin-bottom: 76px;
		}

	}
}

section {
	// height: 760px;
}

.block {
	h4 {
		margin: 0 auto 12px auto;
	}

	h3 {
		margin: 12px auto 16px auto;
	}

	p {
		margin: 16px auto 16px auto;
	}

	ul {
		li {
			display: block;
			margin-top: 26px;

			img {
				margin-right: 18px;
			}
		}
	}
}

.center-aligned-block {
	text-align: center;
	margin: 0 auto;
}

.left-aligned-block {
	text-align: left;
	float: left;
}

.right-alined-block {
	text-align: left;
	float: right;
}

nav {
	height: $nav-bar-height;

	.company-logo {
		margin-top: 48px;
		float: left;

		h1, p {
			display: inline-block;
			vertical-align: middle;
		}

		h1 {
			height: 45px;
			border-right-width: 1px;
			border-right-style: solid;
			padding-right: 8px;
			line-height: 42px;
		}

		p {
			padding-left: 8px;
			text-align: left;
		}
	}

	ul {
		float: right;
		overflow: hidden;
		margin-top: 54px;

		li {
			float: left;	
			margin-left: 60px;
		}
	}

	&.fixed {

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		z-index: 100;

	}
}


#auto-logos-section {

	bottom: 0;
	width: 100%;
	height: 260px;

	ul {
		text-align: center;			
		padding: 0 112px;
		li:nth-child(1) {
			div {
				background: url('../img/index/volkswagen_logo.png') center center no-repeat;
			}
		}
		li:nth-child(2) {
			div {
				background: url('../img/index/ford_logo.png') center center no-repeat;
			}
		}
		li:nth-child(3) {
			div {
				background: url('../img/index/nissan_logo.png') center center no-repeat;
			}
		}
		li:nth-child(4) {
			div {
				background: url('../img/index/audi_logo.png') center center no-repeat;
			}
		}
		li:nth-child(5) {
			div {
				background: url('../img/index/skoda_logo.png') center center no-repeat;
			}
		}
		li:nth-child(6) {
			div {
				background: url('../img/index/infinity_logo.png') center center no-repeat;
			}
		}

		li {
			float: left;
			width: (100%/6);

			div {
				height: 60px;
				margin-top: 68px;
				margin-bottom: 24px;
			}

		}
	}
}

#optimize-section {
	height: auto;
	padding: 100px 0 164px 0;
	overflow: hidden;

	.block {
		p {
			max-width: 432px;
		}
	}

	ul {
		margin: 88px auto 0 auto;

		max-width: 1200px;
		li {
			display: block;
			float: left;
			width: (100%/4);

			img {
				height: 66px;
			}

			h5 {
				margin-top: 28px;
				margin-bottom: 20px;
			}

			p {
				max-width: 242px;
			}
		}
	}
}

#media-planning-section {
	position: relative;
	height: auto;
	padding-top: 112px;

	.block {
		max-width: 575px;
	}

	ul {
		margin: 88px auto 40px auto;
		max-width: 1110px;

		li {
			position: relative;
			display: block;
			float: left;
			width: (100%/3);
			height: 240px;
			padding: 0 4px;

			img {
				display: block;
				margin: 0 auto;
			}

			div {
				padding: 48px 56px;
				max-width: 340px;
				margin: 0 auto;
				height: 100%;
				cursor: pointer;

				p {
					margin: 32px auto 0 auto;
					text-align: center;
				}

				img:last-of-type {
					visibility: hidden;
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
				}

			}

			&.active {
				img:last-of-type {
					visibility: visible;
				}
			}
		}

		&::after {
			content: "";
			clear: both;
			display: table;
		}
	}

	figure {
		margin: 0 auto;
		border: 1px solid transparent;

		img {
			display: block;
			max-width: 1110px;
			margin: 0 auto -12% auto;
			width: 100%;
			box-shadow: 0 3px 17px 3px rgba(0, 0, 0, 0.16);
		}
	}

	.background-picture1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 30%;
	}

	.background-picture2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 30%;
	}
}

#placement-section {

	margin-top: 280px;
	margin-bottom: 112px;
	overflow: auto;

	.container {
		position: relative;
		height:628px;
	}

	.block {
		position: relative;
		float: none;
		margin-top: 42px;
		left: 50%;
		max-width: 510px;
	}

	figure {
		img {
			position: absolute;
			top: 0;
			right: 50%;
		}
	}
}

#reportings-section {
	height: 760px;
	background: url('../img/index/reportings_background.png') center center no-repeat;
	background-size: cover;

	.block {
		max-width: 527px;
		margin-top: 116px;
	}
}

#mediastorage-section {
	height: 760px;
	overflow: hidden;

	.container {
		position: relative;
		padding-top: 158px;
	}

	.block {
		max-width: 552px;
		position: relative;
		float: none;
		left: 50%;
	}

	figure {
		img {
			position: absolute;
			top: 106px;
			right: 60%;
		}
	}
}

#more-functions-section {

	padding-top: 122px;
	padding-bottom: 142px;
	
	overflow: hidden;
	height: auto;

	.block {
		max-width: 651px;
	}

	ul {
		overflow: hidden;

		li {
			
			margin-top: 72px;
			margin-bottom: 20;
			text-align: center;
			display: block;
			float: left;
			width: (100%/3);
			min-height: 252px;

			img {
				margin: 0 auto;
				display: block;
				margin-bottom: 36px;
			}

			h5 {
				max-width: 240px;
				margin: 0 auto;
			}

			p {
				margin: 0 auto;
				margin-top: 20px;
				max-width: 268px;
			}
		}
	}
}

#integration-section {
	padding-top: 120px;
	padding-bottom: 100px;
	height: auto;

	.block {

		h3 {
			max-width: 620px;
			margin-bottom: 32px;
		}

		p {
			margin: 0 auto 68px auto;
			max-width: 580px;
		}

	}
}

#facts-section {
	height: 760px;
	padding-top: 122px;

	.block {
		max-width: 677px;
	}

	ul {
		margin-top: 56px;

		li {
			@extend .center-aligned-block;
			display: block;
			float: left;
			width: (100%/3);
			height: 280px;

			.icon {
				height: 52px;
			}

			.info {
				margin-top: 24px;
				height: 200px;
				border-right: 1px solid #2b80ff;
				padding-top: 12px;

				h5 {
					margin-top: 36px;					
				}

				p.text {
					margin: 0 auto;
					margin-top: 12px;
					max-width: 236px;
				}
			}
		}

		li:nth-child(1) {
			div.icon {
				background: url('../img/index/facts_icon1.png') center center no-repeat;
			}
		}
		
		li:nth-child(2) {
			div.icon {
				background: url('../img/index/facts_icon2.png') center center no-repeat;
			}
		}

		li:nth-child(3) {
			div.icon {
				background: url('../img/index/facts_icon3.png') center center no-repeat;
			}

			.info {
				border: none;
			}
		}
	}
}

#contacts-section {

	position: relative;
	height: auto;
	overflow: hidden;

	.map {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 50%;
		background-color: #2b80ff;
	}

	.block {
		float: right;
		width: 50%;
		height: 100%;
		padding: 112px 0 140px 5%;

		h3 {
			margin-bottom: 36px;
		}

		p {
			margin-bottom: 36px;
		}
	}
}

.form {
	max-width: 495px;

	.short-textfield {
		height: 50px;
		width: 50%;
		float: left;
	}

	.short-textfield:first-of-type {
		padding-right: 8px;
	}

	.short-textfield:last-of-type {
		padding-left: 8px;
	}

	input, textarea {
		padding: 18px;
		width: 100%;
		height: 100%;
	}

	textarea {
		width: 100%;
		height: 110px;
		margin-top:20px;
		margin-bottom: 30px;

	}

	.button-container {
		width: 50%;
		padding-right: 8px;
	}

	input:focus,
	textarea:focus,
	button:focus {
		outline: none;
	}
}

footer {


	.container {
		padding: 62px 112px 76px 112px;
		
		.info {
			overflow: hidden;
			padding-bottom: 100px;
			border-bottom: 1px solid rgba(172, 172, 172, 0.3);


			div {
				float: left;
			}

			ul {
				float: right;

				li {
					float: left;
					margin-left: 56px;
				}
			}
		}

		.copyright {

			padding-top: 24px;

			p:first-of-type {
				float: left;
			}

			p:last-of-type {
				float: right;
			}
		}
	}

}



#how-we-work-intro-section {

	.photo-block {
		background: url('../img/how_we_work/header_background.png') center center no-repeat;
		background-size: cover;
	}

	.dimming-block {
		background-color: transparentize($primary-color, 0.2);
	}

	.container {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	ul {
		margin: 0 auto;
		margin-top: 88px;
		max-width: 1200px;
		overflow: hidden;

		li {
			float: left;
			width: (100%/3);
			position: relative;

			p.number-in-circle {
				margin-top: 0 !important;

			}


			h5 {
				margin-top: 36px;
			}

			p {
				margin-top: 23px;
				max-width: 232px;
			}

			&:after {
				content: "";
				display: block;
				position: absolute;
				height: 16px;
				top: 40px;
				left: 50%;
				right: -50%;
				margin-left: 80px;
				margin-right: 80px;

				border-style: solid;
				border-width: 4px 0px;
				-moz-border-image: url('../img/how_we_work/header_border_pattern.png') 4 125 4 30 repeat repeat;
				-webkit-border-image: url('../img/how_we_work/header_border_pattern.png') 4 125 4 30 repeat repeat;
				-o-border-image: url('../img/how_we_work/header_border_pattern.png') 4 125 4 30 repeat repeat;
				border-image: url('../img/how_we_work/header_border_pattern.png') 4 125 4 30 repeat repeat;
			}

			&:last-of-type:after {
				visibility: hidden;
			}

		}
	}
}

#development-section {

	padding-top: 104px;
	padding-bottom: 182px;
	
	.center-aligned-block {
		max-width: 604px;
	}

	.container {
		position: relative;
		padding-top: 116px;

		.block {
			position: relative;
			float: none;
			left: 50%;
			max-width: 398px;
			margin-left: 66px;
			ul {
				li {
					img {
						display: block;
						float: left;
						width: 24px;
						height: 24px;
						margin: 0;
					}

					p {
						position: relative;
						top: -2px;
						margin-left: 48px;
						max-width: 356px; 
					}
				}
			}
		}

		figure {
			img {
				position: absolute;
				top: 68px;
				right: 50%;
				margin-right: 44px;
			}
		}
	}
}

#incalcation-section {
	height: 760px;

	.container {
		padding-top: 208px;
		padding-bottom: 280px;
		position: relative;

		.block {
			max-width: 418px;
			position: absolute;
			right: 50%;
			margin-right: 40px;
		}

		figure {
			img {
				float: right;
				position: absolute;
				left: 50%;
				margin-left: 20px;
			}
		}
	}
}

#support-section {

	height: 830px;
	padding-top: 100px;
	padding-bottom: 150px;

	.center-aligned-block {
		max-width: 528px;
	}
	
	.container {
		position: relative;
		padding-top: 72px;

		.right-aligned-block {
			max-width: 380px;
			position: relative;
			float: none;
			left: 50%;

			margin-left: 88px;
		}

		figure {
			img {
				position: absolute;
				top: 68px;
				right: 50%;
				margin-right: 60px;
			}
		}
	}
}

#in-contact-section {
	.container {
		padding-top: 90px;
		padding-bottom: 68px;

		.center-aligned-block {
			max-width: 552px;
		}

		img {
			display: block;
			margin-top: 36px;
			width: 98%;
		}
	}
}

#get-demo-section {
	.container {
		padding-top: 122px;
		padding-bottom: 122px;

		.center-aligned-block {
			p {
				max-width: 454px;
			}
		}

		.form {
			margin: 36px auto 0px;

			.button-container {
				margin: 0 auto;
			}
		}
	}
}

#shadowed-navigation-section {
	box-shadow: 0px 0px 16px 4px rgba(43, 128, 255, 0.2);
	position: relative;
	z-index: 100;
}

