
// section, nav, header, footer, div, p, h5, img, li {
// 	border: 1px solid black;
// 	background-color: rgba(0,255,0,0.1);
// }

html {
	height: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;

	z-index: 0;
	width: 100%;
	height: 100%;
}

ul {
	list-style: none;
}

section {
	overflow: hidden;
}

$nav-bar-height: 82px;
$container-max-width: 1400px;


.container {
	max-width: $container-max-width;
	margin: 0 auto;
	padding: 0 100px;

	@media all and (max-width: 1024px) {
		margin: 0 35px;
		padding: 0;
	}

	@media all and (max-width: $mobile-breakpoint) {
		margin: 0 30px;
		padding: 0;
	}

}

.photo-block, .dimming-block {
	height: 100%;
	width: 100%;
	transition: 0;
	
	position: absolute;
}

header {
	width: 100%;
	text-align: center;
	position: relative;
	z-index: -1;

	.container {
		
		padding-left: 60px;
		padding-right: 60px;

		@media all and (max-width: 1024px) {
			padding-left: 16px;
			padding-right: 16px;
		}

		@media all and (max-width: $mobile-breakpoint) {
			margin: 0;
			padding-left: 16px;
			padding-right: 16px;
		}

		h2, p, a {
			margin: 0 auto;
		}

		h2 {
			max-width: 808px;
		}

		p {
			max-width: 685px;
			margin-top: 38px;

			@media all and (max-width: $mobile-breakpoint) {
				margin-top: 4px;
			}
		}
	}
}

#scroll-to-top {
	display: none;
	opacity: 0;
	transition: $fastAnimationDuration;
	position: fixed;
	right: 20px;
	bottom: 20px;
	cursor: pointer;
	z-index: 1000;

	@media all and (max-width: $mobile-breakpoint) {
		display: block;
	}


}

div.arrow {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


div.success-submit {
	position:fixed;
	z-index: 2000;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;

	.dimming-view {
		position:absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		padding: 0 32px;

		.container {
			max-width: 840px;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			margin: auto;
			padding: 68px 30px 35px;

			.block {
				h3 {
					margin-bottom: 22px;
				}

				p {
					max-width: 310px;
					margin-bottom:16px;
					
					@media all and (max-width: 1024px) {
						max-width: 290px;
		            }
				}
			}

			img {
				display: block;
				margin: auto;

				@media all and (max-width: 1024px) {
					max-width: 341px;
					width: 50%;
	            }

	            @media all and (max-width: $mobile-breakpoint) {
					width: 65%;
	            }
			}

			.close {
				position: absolute;
				top: 30px;
				right: 30px;
				width: 26px;
				height: 26px;
				background: url('../img/close.svg') center center no-repeat;
				cursor: pointer;
			}
		}
	}

}

#intro-section {

	height: 100%;

	.photo-block {
		background: url('../img/index/header_background.jpg') center center no-repeat;
		background-size: cover;

		@media all and (max-width: 1120px) {
			background: url('../img/index/header_background_desktop.jpg') center center no-repeat;
			background-size: cover;			
		}
		
		@media all and (max-width: 800px) {
			background: url('../img/index/header_background_tablet.jpg') center center no-repeat;
			background-size: cover;			
		}

		@media all and (max-width: $mobile-breakpoint) {
			background: url('../img/index/header_background_mobile.jpg') center center no-repeat;
			background-size: cover;			
		}

		height: 100%;
	}

	.dimming-block {
		background-color: rgba(16, 16, 16, 0.6);
	}

	.button {
		display: inline-block;

		&.desktop-button {
			
			@media all and (max-width: 1024px) {
				display: none;
			}

		}
		&.tablet-button {
			
			display: none;

			@media all and (max-width: 1024px) {
				display: inline-block;
			}	
		}

	}

	.container {
		position: relative;
		top: 50%;
		transform: translateY(-50%);

		p {
			margin-bottom: 74px;
		}

		@media all and (max-width: $mobile-breakpoint) {

			h2 {
				padding-top: 10px;
				max-width: 426px;
				margin-bottom: 10px;
			}

			p {
				margin-bottom: 38px;
			}
		}

	}
}

.block {
	h4 {
		margin: 0 auto 12px auto;
		
		@media all and (max-width: $mobile-breakpoint) { 
			margin-bottom: 8px;
		}
	}

	h3 {
		margin: 12px auto 30px auto;

		@media all and (max-width: $mobile-breakpoint) { 
			margin: 8px auto 0 auto;
		}
	}

	& > p {
		margin: 10px auto 42px auto;
	}

	ul {
		li {
			display: block;
			margin-top: 14px;


			@media all and (max-width: 1024px) {
				margin-top: 34px;
			}

			img {
				margin-right: 18px;
				position: relative;
			    top: 3px;
			}
		}
	}
}

.center-aligned-block {
	text-align: center;
	margin: 0 auto;
}

.left-aligned-block {
	text-align: left;
	float: left;
}

.right-alined-block {
	text-align: left;
	float: right;
}

nav {
	height: $nav-bar-height;
	position: relative;

	@media all and (max-width: 1024px) {
		height: 74px;
	}

	@media all and (max-width: $mobile-breakpoint) { 
		height: 60px;
		margin: 0 !important;

		.container {
			margin: 0;
			padding: 0 28px !important;
		}

		display: block;
	}

	.company-logo {
		margin-top: 16px;
		float: left;
		position: relative;
	    z-index: 1000;

		@media all and (max-width: 1024px) {
			margin-top: 18px;
		}

		@media all and (max-width: $mobile-breakpoint) {
			margin-top: 10px;
		}

		h1, p {
			display: inline-block;
			vertical-align: middle;
		}

		h1 {
			height: 45px;

			border-right-width: 1px;
			border-right-style: solid;
			padding-right: 11px;
			line-height: 44px;

			@media all and (max-width: 1024px) {
				height: 30px;
				line-height: 28px;
			}

			@media all and (max-width: $mobile-breakpoint) {
				border: none;
			}
		}

		p {
			padding-left: 8px;
			text-align: left;

			@media all and (max-width: $mobile-breakpoint) {
				display: none;
			}
		}
	}

	ul {
		float: right;
		overflow: hidden;
		margin-top: 20px;

		li {
			float: left;	
			margin-left: 60px;
		}
	}

	&.fixed {
		position: relative;
		float: left;

		@media all and (max-width: $mobile-breakpoint) {
			position: absolute;
		}

		top: 0;
		left: 0;
		width: 100%;

		z-index: 100;
	}

	#navicon {
		position: absolute;
		z-index: 1000;
		right: 50px;
		top: 8px;

		@media all and (max-width: $mobile-breakpoint) {
			top: 10px;
			right: 32px;
		}
	}

	#masking-layer {

		@media all and (min-width: 1024px) {
			display: none;
		}

		opacity: 0;
		background-color: white;
		position: absolute;
		z-index: 300;
		width: 100%;
		height: 100%;
		left: 0;
		transition: $mediumAnimationDuration;
	}

	&.active {
		#masking-layer {
			opacity: 1;
		}
	}

	&.light-navigation {
		
		@media all and (max-width: 1024px) {
			#masking-layer {
				opacity: 1;
			}
		}
	}



	#menu {
		@media all and (max-width: 1024px) {

			display: block;
			position: absolute;
			z-index: 0;
			left: 0;
			transition: $mediumAnimationDuration;
			width: 100%;
			height: 320px;
			top: -385px;
			padding: 40px 0 0;

			@media all and (max-width: $mobile-breakpoint) {
				padding: 20px 30px 54px;
			}

			&.active {
				z-index: 100;
				top: 64px;

				@media all and (max-width: $mobile-breakpoint) {
					top: 52px;
				}
			}

			ul {
				padding: 0;
				float: left;
				margin-right: 100px;
				position: absolute;
				left: 50%;
				margin-left: -192px;

				@media all and (max-width: $mobile-breakpoint) {
					max-width: 310px;
					position: static;
					float: none;
					margin: 0 auto;


				}
			}

			ul {
				li {
					float: none;
					display: block;
					text-align: left;
					margin: 0;
					margin-bottom: 28px;

					@media all and (max-width: $mobile-breakpoint) {
						margin-bottom: 10px;
					}
				}
			}

			.additional-buttons {
				margin-bottom: 0;
				margin-left: 30px;

				@media all and (max-width: $mobile-breakpoint) {
					margin: 14px auto 0;
				}

				li {
					text-align: center;
					display: block;

					@media all and (max-width: $mobile-breakpoint) {
						margin-bottom: 16px;
						width: auto;
					}

					a {
						width: 100%;
					}
				}
			}
		
		}

		.additional-buttons {
			display: none;

			@media all and (max-width: 1024px) {
				display: block;
			}
		}
	}

}

@mixin fixed-navigation() {
	position: relative;
	float: left;
	top: 0;
	left: 0;
	width: 100%;

	z-index: 100;
}

#how-we-work-navigation {
	@media all and (max-width: 1024px) and (min-width: $mobile-breakpoint) {
		@include fixed-navigation();
	}
}

#auto-logos-section {

	width: 100%;
	overflow: hidden;

	padding-bottom: 72px;

	@media all and (max-width: 1024px) {
		padding-bottom: 58px;		
	}

	@media all and (max-width: $mobile-breakpoint) {
		padding: 11px 0 37px;
	}

	ul {
		text-align: center;			
		max-width: 1176px;

		@media all and (max-width: 1024px) {
			max-width: 804px;
			margin: 14px auto 0;
		}

		@media all and (max-width: $mobile-breakpoint) {
			margin-top: 0;
		}		

		li {
			float: left;
			width: (100%/6);
			margin-top: 68px;

			@media all and (max-width: 1024px) {
				width: (100%/3);
				margin-top: 38px;
			}

			@media all and (max-width: $mobile-breakpoint) {
				margin-top: 20px;
			}
			
			div {
				margin: 0 auto 23px;
				width: 115px;
				height: auto;

				img {
					display: block;
					width: 100%;
					height: 100%;
				}

				@media all and (max-width: 1024px) {
					width: 77px;
					height: auto;
					margin-bottom: 8px;
				}

				@media all and (max-width: $mobile-breakpoint) {
					width: 49px;
					height: auto;

				}
			}

			h5 {
				display: none;

				@media all and (max-width: $mobile-breakpoint) {
					display: block;
				}
			}

			p {
				margin-top: 24px;
				@media all and (max-width: 1024px) {
					margin-top: 0px;
				}

				@media all and (max-width: $mobile-breakpoint) {
					display: none;
				}
			}

		}
	}
}

#optimize-section {
	height: auto;
	padding: 100px 0 164px;
	position: relative;
	z-index: 100;

	@media all and (max-width: 1024px) {
		padding: 72px 0 124px;
	}

	@media all and (max-width: $mobile-breakpoint) {
		padding: 34px 0 72px;
	}

	overflow: hidden;

	.block {
		p {
			max-width: 432px;

			@media all and (max-width: 1024px) {
				max-width: 338px;
			}

			@media all and (max-width: $mobile-breakpoint) {
				max-width: none;
				margin-bottom: 0;
			}
		}
	}

	ul {
		margin: 88px auto 0 auto;
		max-width: 1200px;

		@media all and (max-width: 1024px) {
			margin-top: 12px;
			max-width: 600px;
		}		

		@media all and (max-width: $mobile-breakpoint) {
			padding: 0 24px 0 10px;
		}

		li {
			display: block;
			float: left;
			width: (100%/4);

			@media all and (max-width: 1024px) {
				width: 50%;
			}

			@media all and (max-width: $mobile-breakpoint) {
				float: none;
				width: 100%;
			}

			img {
				margin-right: 0 !important;

				@media all and (max-width: $mobile-breakpoint) {
					display: block;
					float: left;
					width: 51px;
					position: relative;
					top: -3px;
				}
			}

			h5 {
				margin-top: 28px;
				margin-bottom: 20px;

				@media all and (max-width: 1024px) {
					margin-top: 10px;
				}

				@media all and (max-width: $mobile-breakpoint) {
					text-align: left;
					margin: 0;
					margin-left: 70px;
				}
			}

			p {
				margin-left: auto;
				margin-right: auto;
				max-width: 242px !important;

				@media all and (max-width: 1024px) {
					max-width: 214px !important;			
				}

				@media all and (max-width: $mobile-breakpoint) {
					text-align: left;
					margin-left: 70px;
					margin-right: 0;
					max-width: none !important;

				}
			}
		}
	}
}

#media-planning-section {
	position: relative;
	height: auto;

	.container {
		padding-top: 112px;
		position: relative;
	}

	@media all and (max-width: 1024px) {

		.container {
			padding-top: 72px;
			margin: 0 80px;
		}
	}

	@media all and (max-width: $mobile-breakpoint) {

		.container {
			margin: 0;
			padding: 0;
			padding-top: 46px;
		}
	}

	.block {
		max-width: 575px;

		@media all and (max-width: 1024px) {
			max-width: 459px;
		}

		@media all and (max-width: $mobile-breakpoint) {
			max-width: none;

			p {
				margin-bottom: 12px;
				padding: 0 30px;
			}
		}
	}

	#arrow-back, #arrow-forward {
		display: none;

		@media all and (max-width: 1024px) {
			display: block;
		}
	}

	@media all and (max-width: 1024px) {

		div.arrow {
			
			position: absolute;
			z-index: 1000;
			padding: 54px;
			width:100px;
			height: 100px;
			cursor: pointer;


			@media all and (max-width: $mobile-breakpoint) {
				padding: 24px 45px;
			}

			img {
				display: block !important;
				z-index: 200;
				transform: translate(-50%, -50%);

				@media all and (max-width: $mobile-breakpoint) {
					width: 6px;
					height: 11px;

				}

			}

			&:nth-child(1) {
				left: 54px;
				@media all and (max-width: $mobile-breakpoint) {
					left: 0px;
				}
			}

			&:nth-child(2) {
				right: 54px;
				@media all and (max-width: $mobile-breakpoint) {
					right: 0px;
				}
			}
		}


		
	}

	.container > div:nth-child(2) {
		position: relative;
		
		margin: 88px auto 40px auto;
		max-width: 1110px;

		@media all and (max-width: 1024px) {
			margin: 66px 80px 26px 80px;
		}
	
		@media all and (max-width: $mobile-breakpoint) {
			margin: 0;
		}

	}

	div.items-container {
		position: relative;
	
	    max-width: 1100px;
	    margin: auto;


		@media all and (max-width: 1024px) {
			max-width: none;
		}

		@media all and (max-width: $mobile-breakpoint) {
			margin: 20px 30px 0;
		}
	}

	#planning-selection {

		position: absolute;
		top:0;
		left: 0;
		width: (100%/3);
		height: 100%;

		@media all and (max-width: 1024px) {
			width: 100%;

		} 

				img {
					position: absolute;
					height: auto;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);

					@media all and (max-width: $mobile-breakpoint) {
						width: 14px;
					}
				}
	}

	ul {

		li {
			position: relative;
			display: block;
			float: left;
			width: (100%/3);
			height: 240px;

			@media all and (max-width: 1024px) {
				width: 100%;
				display: none;
			}

			@media all and (max-width: $mobile-breakpoint) {
				height: 124px;
			}

			img {
				display: block;
				margin: 0 auto 22px;

				@media all and (max-width: $mobile-breakpoint) {

					margin: 0 auto 12px;
					width: 42px;
					height: auto;
				}
			}

			div {

				padding: 35px 34px 48px;
				
				@media all and (max-width: 1024px) {
					max-width: none;
					padding: 38px 0 0;
				}		

				@media all and (max-width: $mobile-breakpoint) {
					padding: 18px 0 0;
				}		

				margin: 0 auto;
				height: 100%;
				cursor: pointer;

				p {
					margin: 14px auto 0 auto;
					text-align: center;

					@media all and (max-width: 1024px) {
						max-width: 212px;
					}

					@media all and (max-width: $mobile-breakpoint) {
						padding: 0 28px;
						max-width: 276px;
						margin: 12px auto 0;
					}
				}

				@media all and (max-width: 1024px) {
					cursor: auto;
				}

			}

			&.active {

				@media all and (max-width: 1024px) {
					display: block;
				}
			}
		}

		&::after {
			content: "";
			clear: both;
			display: table;
		}

	}

	#scrollable-area {
		position: relative;
		width: 100%;
		z-index: 500;

	  -webkit-overflow-scrolling: touch;

		padding: 20px 100px;

		@media all and (max-width: 1024px) {
			padding-left: 0;
			padding-right: 0;
		}
		
		overflow-x: scroll; 
	    -webkit-overflow-scrolling: touch;

		div:first-child {
			position: relative;
			z-index: 500;
			padding: 20px 0 0;
			width: 100%;

			@media all and (max-width: 1024px) {
				padding: 20px 0;
				width: 300%;
			}

			@media all and (max-width: $mobile-breakpoint) {

			}
		}
	}

	#gallery-white-mask {
			position: absolute;
			height: 11%;
			bottom: 0;
			left: 0;
			background-color: rgba(255,255,255,0.9);//#fff;
			width: 100%;
			z-index: 1;

	}

	.page-control {
		display: none;

		@media all and (max-width: 1024px) {
			display: block;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			margin-top: 14px;
			z-index: 200;
		} 

		@media all and (max-width: $mobile-breakpoint) {
			margin: 0;
		}
	}

	figure {
		position: absolute;
		margin: 0;
		float: left;
		width: 100%;
		height: auto;
		
		@media all and (max-width: 1024px) {
			position: relative;
			margin: 0;
			width: (100%/3);
			display: block;
			padding: 0 80px;
		}

		@media all and (max-width: $mobile-breakpoint) {
			padding: 0 30px;
		}

		img {
			display: block;
			box-shadow: 0 3px 17px 3px rgba(0, 0, 0, 0.16);
			width: 100%;
			margin: 0 auto;

			@media all and (max-width: 1024px) {
			}

			max-width: 1110px;

		}

		&.placeholder {
			display: block;
			position: relative;
			visibility: hidden;
			@media all and (max-width: 1024px) {
				display: none;
			}
		}

		&.active {
			display: block;
			z-index: 1;
		}
	}

	.background-picture1 {
		position: absolute;
		opacity: 0.65;
		top: 0;
		left: 0;
		width: 44%;
		transform: translate(-45%, -59%);

		@media all and (max-width: 1024px) {
			width: 60%;
			opacity: 0.3;
		}

		@media all and (max-width: $mobile-breakpoint) {
			display: none;
		}
	}

	.background-picture2 {
		position: absolute;
		opacity: 0.65;
		top: 0;
		right: 0;
		width: 42%;
		transform: translate(28%, -68%);

		@media all and (max-width: 1024px) {
			display: none;
		}
	}
}

#placement-section {

	margin-top: 170px;
	margin-bottom: 112px;
	overflow: auto;

	@media all and (max-width: 1024px) {
		margin-top: 16%;
		margin-bottom: 52px;
	}

	@media all and (max-width: $mobile-breakpoint) {
		margin-top: 54px;
		margin-bottom: 0;
		border-top: 1px solid transparentize(#848789, 0.8);
		padding-top: 46px;
		padding-bottom: 42px;
	}

	.container {
		position: relative;
		height:628px;


		@media all and (max-width: 1024px) {
			border: 1px solid transparent;
			height: 378px;
		}

		@media all and (max-width: $mobile-breakpoint) {
			height: auto;
			margin: 0;
		}
	}

	.block {
		position: relative;
		float: none;
		margin-top: 0;
		padding-top: 42px;
		left: 50%;
		max-width: 510px;

		h3 {
			max-width: 450px;
			margin-left: 0;
		}

		img {
			float: left;
		}


		p {
			overflow: hidden;
		}

		@media all and (max-width: 1024px) {
			max-width: 357px;
			left: 45%;

			ul {
				display: none;
			}
		}

		@media all and (max-width: $mobile-breakpoint) {
			position: static;
			padding: 0 30px;
			max-width: none;
		}
	}

	figure {

		img {
			position: absolute;
			height: 100%;
			top: 0;
			right: 50%;

			@media all and (max-width: 1024px) {
				right: 52%;
			}

			@media all and (max-width: $mobile-breakpoint) {
				position: static;
				width: 100%;
				height: auto;
			}
		}
	}
}

#reportings-section {
	height: 760px;
	position: relative;

	@media all and (max-width: 1024px) {
		height: 460px;
	}

	@media all and (max-width: $mobile-breakpoint) {
		height: auto;
		border-top: 1px solid transparentize(#848789, 0.8);
		padding-top: 46px;
		background-image: none;
	}

	.container {
		border: 1px solid transparent;
		z-index: 100;
		position: relative;
		@media all and (max-width: $mobile-breakpoint) {
			overflow: hidden;
		}
	}

	.block {
		max-width: 527px;
		margin-top: 116px;

		h3 {
			max-width: 450px;
			margin-left: 0;
		}

		img {
			float: left;
		}

		p {
			overflow: hidden;
		}

		@media all and (max-width: 1024px) {
			max-width: 348px;
			margin-top: 88px;
			margin-left: 24px;

			ul {
				display: none;
			}
		}

		@media all and (max-width: $mobile-breakpoint) {
			max-width: none;
			margin-top: 0;
			margin-left: 0;
			margin-bottom: 20px;

			p {
				margin-bottom: 0;
			}
		}
	}

	.img {
		position: absolute;
		width: 100%;
		height: 100%;

		top:0;
		left: 0;

		background: url('../img/index/reportings_background.png') center center no-repeat;
		background-size: cover;

		@media all and (max-width: $mobile-breakpoint) {
			background: url('../img/index/reportings_background_nofade.png') center center no-repeat;
			background-size: cover;
			position: static;
			width: 100%;
			height: 175px;
		}
	}
}

#mediastorage-section {
	height: 760px;
	overflow: hidden;

	@media all and (max-width: 1024px) {
		height: 590px;
	}

	@media all and (max-width: $mobile-breakpoint) {
		height: auto;
	}

	.container {
		position: relative;
		padding-top: 158px;

		@media all and (max-width: 1024px) {
			padding-top: 130px;
		}

		@media all and (max-width: $mobile-breakpoint) {
			padding-top: 46px;
			padding-bottom: 30px;
		}

	}

	.block {
		max-width: 552px;
		position: relative;
		float: none;
		left: 50%;

		h3 {
			max-width: 450px;
			margin-left: 0;
		}

		img {
			float: left;
		}

		p {
			overflow: hidden;
		}

		@media all and (max-width: 1024px) {
			
			left: 45%;
			max-width: 334px;

			ul {
				display: none;
			}
		}

		@media all and (max-width: $mobile-breakpoint) {
			position: static;
			max-width: none;
		}
	}

	figure {
		img {
			position: absolute;
			top: 106px;
			right: 60%;

			@media all and (max-width: 1024px) {
				top: 84px;
				right: 63%;
				height: 400px;
			}

			@media all and (max-width: $mobile-breakpoint) {
				position: static;
				margin-left: -8px;

				width: 150%;
				height: auto;
			}
		}
	}
}

#more-functions-section {

	padding-top: 102px;
	padding-bottom: 142px;
	overflow: hidden;
	height: auto;

	@media all and (max-width: 1024px) {
		padding-top: 64px;
		padding-bottom: 100px;
	}

	@media all and (max-width: $mobile-breakpoint) {
		padding-top: 34px;
		padding-bottom: 44px;
	}

	.block {
		max-width: 651px;

		h3 {
			max-width: 450px;
		}

		p {
			margin-bottom: 16px;
		}

		@media all and (max-width: 1024px) {
			p {
				max-width: 394px;
			}
		}
	}

	ul {
		overflow: hidden;

 		margin-top: 32px;

		@media all and (max-width: 1024px) {
			margin-top: 40px;
		}

		li {
			
			margin-top: 40px;
			margin-bottom: 20px;
			text-align: center;
			display: block;
			float: left;
			width: (100%/3);
			min-height: 252px;

			@media all and (max-width: 1024px) {
				min-height: 266px;
				margin-top: 40px;
			}

			@media all and (max-width: $mobile-breakpoint) {
				width: (100%/2);
				min-height: 92px;
				margin-top: 0px;
				margin-bottom: 28px;
				padding: 0 8px;

				&:last-child {
					display: none;
				}
			}

			img {
				margin: 0 auto;
				display: block;
				margin-bottom: 36px;

				@media all and (max-width: $mobile-breakpoint) {
					margin-bottom: 12px;
				}
			}

			h5 {
				max-width: 240px;
				@media all and (max-width: 1024px) {
					max-width: 210px;
				}

				margin: 0 auto;
			}

			p {
				margin: 0 auto;
				margin-top: 20px;
				max-width: 268px;

				@media all and (max-width: 1024px) {
					max-width: 200px;
				}

				@media all and (max-width: $mobile-breakpoint) {
					display: none;
				}
			}

		}
	}
}

#integration-section {
	padding-top: 102px;
	padding-bottom: 100px;
	height: auto;

	.container {

		@media all and (max-width: $mobile-breakpoint) {
			margin: 0;
		}
	}


	@media all and (max-width: 1024px) {
		padding-top: 90px;
	}

	@media all and (max-width: $mobile-breakpoint) {
		padding-top: 34px;
		padding-bottom: 34px;
	}

	.block {

		h3 {
			max-width: 620px;
			margin-bottom: 32px;

			@media all and (max-width: 1024px) {
				max-width: 504px;
			}

			@media all and (max-width: $mobile-breakpoint) {
				padding-left: 30px;
				padding-right: 30px;
			}
		}

		p {
			margin: 0 auto 68px auto;
			max-width: 580px;

			@media all and (max-width: 1024px) {
				max-width: 462px;
			}

			@media all and (max-width: $mobile-breakpoint) {
				padding-left: 30px;
				padding-right: 30px;
				margin-bottom: 0;
			}
		}

		@media all and (max-width: 1024px) {
			

			img {
				display: block;
				width: 100%;
				margin: 0 auto;
				max-width: 504px;
			}
		}

		@media all and (max-width: $mobile-breakpoint) {
			width: 100%;
			padding: 0;

			img {
				margin-top: 18px;	
			}
		}
	}
}

#facts-section {
	height: 760px;
	padding-top: 102px;

	@media all and (max-width: 1024px) {
		height: 640px;
		padding-top: 76px;
	}

	@media all and (max-width: $mobile-breakpoint) {
		height: auto;
		padding-top: 34px;
		padding-bottom: 30px;
	}

	.block {
		max-width: 677px;

		@media all and (max-width: 1024px) {
			p {
				max-width: 404px;
			}
		}

		@media all and (max-width: $mobile-breakpoint) {
			max-width: none;
		}
	}

	ul {
		margin-top: 56px;

		@media all and (max-width: 1024px) {
			margin-top: 80px;
		}
		
		@media all and (max-width: $mobile-breakpoint) {
			margin-top: 50px;
		}


		li {
			@extend .center-aligned-block;
			display: block;
			float: left;
			width: (100%/3);
			height: 280px;

			@media all and (max-width: $mobile-breakpoint) {
				float: none;
				width: 100%;
				height: auto;
			}

			img {
				height: 64px;

				@media all and (max-width: 1024px) {
					height: 41px;
				}
			}

			.info {
				margin-top: 24px;
				height: 200px;
				border-right: 1px solid transparentize(#2b80ff, 0.6);
				padding-top: 12px;
				
				@media all and (max-width: 1024px) {
					margin-top: 32px;
					padding-top: 0;
					border: none;
				}

				@media all and (max-width: $mobile-breakpoint) {
					margin-top: 10px;
					height: auto;
				}

				h5 {
					margin-top: 36px;	

					@media all and (max-width: 1024px) {
						margin-top: 24px;
					}				
					@media all and (max-width: $mobile-breakpoint) {
						margin-top: 0;
					}
				}

				p.text {
					margin: 0 auto;
					margin-top: 12px;
					max-width: 236px;
					@media all and (max-width: $mobile-breakpoint) {
						margin-top: 10px;
						margin-bottom: 64px;
					}
				}
			}
		}

		li:last-child {

			.info {
				border: none;
			}
		}
	}
}

#contacts-section {

	position: relative;
	height: auto;
	overflow: hidden;

	.map {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 50%;

		@media all and (max-width: 1024px) {
			display: none;
		}
	}

	.block {
		float: right;
		width: 50%;
		height: 100%;
		padding: 102px 0 140px 5%;

		@media all and (max-width: 1024px) {
			float: none;
			width: 100%;
			max-width: 500px;
			padding: 76px 0 100px;
			margin: 0 auto;
			text-align: center;

			.button-container {
				margin-left: auto;
				margin-right: auto;
			}
		}

		@media all and (max-width: $mobile-breakpoint) {
			padding: 32px 10px 80px;
		}

		p {
			margin-top: 36px;
			margin-bottom: 36px;

			@media all and (max-width: 1024px) {
				margin-top: 20px;
				margin-bottom: 30px;
			}
		}
	}
}

.form {
	max-width: 495px;

	.short-textfield {
		height: 50px;
		width: 50%;
		float: left;

		@media all and (max-width: $mobile-breakpoint) {
			width: 100%;
			height: 45px;
			float: none;
			margin-top: 20px;
		}
	}

	.short-textfield:first-of-type {
		padding-right: 8px;

		@media all and (max-width: $mobile-breakpoint) {
			padding-right: 0;
		}
	}

	.short-textfield:last-of-type {
		padding-left: 8px;

		@media all and (max-width: $mobile-breakpoint) {
			padding-right: 0;
		}
	}

	input, textarea {
		padding-left: 18px;
		padding-right: 18px;
		width: 100%;
		height: 100%;

		@media all and (max-width: $mobile-breakpoint) {
			padding: 14px;
		}
	}

	textarea {
		width: 100%;
		height: 110px;
		margin-top: 20px;
		margin-bottom: 30px;
		padding-top: 12px;

		@media all and (max-width: $mobile-breakpoint) {
			height: 100px;
			margin-bottom: 25px;
		}

	}

	.button-container {
		width: 50%;
		padding-right: 8px;

		.button {
			padding-top: 0;
			padding-bottom: 0;
		}

		@media all and (max-width: $mobile-breakpoint) {
			width: 100%;
			padding-right: 0;
		}
	}

	input:focus,
	textarea:focus,
	button:focus {
		outline: none;
	}
}

footer {
	.container {
		padding: 62px 112px 76px 112px;

		@media all and (max-width: 1024px) {
			padding-left: initial; 
			padding-right: initial;
			padding-bottom: 62px;
		}

		@media all and (max-width: $mobile-breakpoint) {
			padding: 40px 10px 32px;
		}
		
		.info {
			overflow: hidden;
			padding-bottom: 100px;
			border-bottom: 1px solid rgba(172, 172, 172, 0.3);
			
			@media all and (max-width: $mobile-breakpoint) {
				padding-bottom: 36px;
			}

			div {
				float: left;

				@media all and (max-width: $mobile-breakpoint) {
					float: none;
					text-align: center;
					padding-bottom: 40px;
				}
			}

			ul {
				float: right;

				@media all and (max-width: $mobile-breakpoint) {
					float: none;
				}

				li {
					float: left;
					margin-left: 56px;

					@media all and (max-width: $mobile-breakpoint) {
						float: none;
						margin-left: 0;
					}
				}
			}
		}

		.copyright {

			padding-top: 24px;

			@media all and (max-width: $mobile-breakpoint) {
				padding-top: 12px;
			}

			p:first-of-type {
				float: left;

				@media all and (max-width: $mobile-breakpoint) {
					float: none;
				}
			}

			p:last-of-type {
				float: right;

				@media all and (max-width: $mobile-breakpoint) {
					float: none;
				}
			}
		}
	}

}



#how-we-work-intro-section {

	.photo-block {
		background: url('../img/how_we_work/header_background.jpg') center center no-repeat;
		background-size: cover;

		@media all and (max-width: 1120px) {
			background: url('../img/how_we_work/header_background_desktop.jpg') center center no-repeat;
			background-size: cover;			
		}
		
		@media all and (max-width: 800px) {
			background: url('../img/how_we_work/header_background_tablet.jpg') center center no-repeat;
			background-size: cover;			
		}

		@media all and (max-width: $mobile-breakpoint) {
			background: url('../img/how_we_work/header_background_mobile.jpg') center center no-repeat;
			background-size: cover;			
		}
	}

	.dimming-block {
		background-color: transparentize($primary-color, 0.2);
	}

	.container {
		padding-top: 110px;
		padding-bottom: 120px;
		z-index: 100;
		position: relative;

		@media all and (max-width: 1024px) {
			padding-top: 156px;
			padding-bottom: 132px;
		}

		@media all and (max-width: 820px) {
			padding-left: 0;
			padding-right: 0;

			& > p {

			}
		}

		@media all and (max-width: $mobile-breakpoint) {
			padding: 54px 0;
			padding-top: 54px;
			padding-bottom: 55px;

			& > h2 {
				margin-left: 16px;
				margin-right: 16px;
			}

			& > p { 
				max-width: 428px;

				padding-left: 16px;
				padding-right: 16px;
			}

		}

		& > div {
		position: relative;

		}

		#how-we-work-arrow-forward, #how-we-work-arrow-back {
			position: absolute;
			top: 88px;
			width: 8px;
			height: 14px;
			z-index: 90;
			cursor: pointer;

			display: none;

			@media all and (max-width: $mobile-breakpoint) {
				display: block;
				top: 78px;
			}
		}

		#how-we-work-arrow-back {
			right: 50%;
			margin-right: 66px
		}

		#how-we-work-arrow-forward {
			left: 50%;
			margin-left: 66px
		}
	}

	#how-we-work-horizontal-scroller {
		@media all and (max-width: $mobile-breakpoint) {
			width: auto;
			overflow-y: scroll;
		    -webkit-overflow-scrolling: touch;
		}
	}


	ul {
		margin: 0 auto;
		margin-top: 88px;
		max-width: 1200px;
		overflow: hidden;

		@media all and (max-width: $mobile-breakpoint) {
			margin-top: 50px;
			position: relative;
			width: 300%;
			max-width: none;
			margin-right: 0;
		}

		li {
			float: left;
			width: (100%/3);
			position: relative;
			

			@media all and (max-width: $mobile-breakpoint) {

			}

			p.number-in-circle {
				margin-top: 0 !important;

			}

			h5 {
				margin-top: 20px;
			}

			p {
				margin-top: 13px;
				max-width: 232px;
			}

			&:after {
				content: "";
				display: block;
				position: absolute;
				height: 16px;
				top: 40px;
				left: 50%;
				right: -50%;
				margin-left: 80px;
				margin-right: 80px;

				border-style: solid;
				border-width: 4px 0px;

				-moz-border-image: url('../img/how_we_work/header_border_pattern.png') 4 125 4 30 repeat repeat;
				-webkit-border-image: url('../img/how_we_work/header_border_pattern.png') 4 125 4 30 repeat repeat;
				-o-border-image: url('../img/how_we_work/header_border_pattern.png') 4 125 4 30 repeat repeat;
				border-image: url('../img/how_we_work/header_border_pattern.png') 4 125 4 30 repeat repeat;

				@media all and (max-width: $mobile-breakpoint) {
					display: none;
				}
			}
	
			&:last-of-type:after {
				display: none;
			}

		}
	}
}

#development-section {

	padding-top: 104px;
	padding-bottom: 182px;

	@media all and (max-width: 1024px) {
		padding-top: 84px;
	}

	@media all and (max-width: $mobile-breakpoint) {
		padding-top: 38px;
		padding-bottom: 79px;
	}
	
	.center-aligned-block {
		max-width: 604px;

		@media all and (max-width: 1024px) {
			padding-left: 25px;
			padding-right: 25px;
		}

		@media all and ($mobile-breakpoint) {
			max-width: none;
		}

	}

	.container {
		position: relative;
		padding-top: 116px;

		@media all and (max-width: 1024px) {
			padding-top: 56px;
		}
			@media all and (max-width: $mobile-breakpoint) {
				padding-top: 0;
				margin-top: 30px;
			}

		.block {
			position: relative;
			float: none;
			left: 50%;
			max-width: 368px;
			margin-left: 66px;

			@media all and (max-width: 1024px) {
				margin-left: -25px;
			}

			@media all and (max-width: $mobile-breakpoint) {
				margin: 0;
				position: static !important;
				max-width: none;
			}

			ul {
				li {
					
					position: relative;
					@media all and (max-width: $mobile-breakpoint) {
						margin-top: 16px;
					}

					img {
						display: block;
						float: left;
						width: 24px;
						height: 24px;
						margin: 0;

						@media all and (max-width: $mobile-breakpoint) {
							width: 18px;
							height: 18px;
							margin-top: 1px;
						}
					}

					p {
						position: relative;
						top: -2px;
						margin-left: 48px;
						max-width: 356px; 

						margin-top: 60px; 

						@media all and (max-width: $mobile-breakpoint) {
							margin-left: 32px;
							max-width: none;
							margin-top: 0px;
						}
					}
					&:first-child {
						p {
							margin-top: 14px; 
						}
					}

					&::after {
						content: "";
						position: absolute;
						top: 47px;
						left: 10px;
						width: 3px;
						height: 45px;

						background-image: linear-gradient($primary-color 33%, rgba(255,255,255,0) 0%);
						background-position: right;
						background-size: 3px 9px;
						background-repeat: repeat-y;

						@media all and (max-width: $mobile-breakpoint) {
							display: none;
						}
					}

					&:last-child::after {
						display: none;
					}
				}
			}
		}

		figure {
			img {
				position: absolute;
				top: 32px;
				right: 50%;
				margin-right: 44px;

				@media all and (max-width: 1024px) {
					height: 329px;
					top: -8px;
					margin-right: 108px;
				}

				@media all and (max-width: 680px) {
					position: static !important;
					padding: 0 15%;
					width: 100%;
					height: auto;
					margin: 0;
					margin-top: 40px;
				}

				@media all and (max-width: 460px) {
					padding: 0 24px 0 0;

				}
			}
		}
	}
}

#incalcation-section {
	height: 760px;

	@media all and (max-width: 1024px) {
		height: 570px;
	}

	@media all and (max-width: $mobile-breakpoint) {
		height: auto;
		overflow: hidden;
	}

	.container {
		padding-top: 218px;
		padding-bottom: 280px;

		@media all and (max-width: 1024px) {
			padding-top: 136px;
			padding-bottom: 166px;
		}

		@media all and (max-width: $mobile-breakpoint) {
			margin: 0;
			padding: 0;
		}

		position: relative;

		.block {
			max-width: 420px;
			position: absolute;
			right: 50%;
			margin-right: 40px;

			@media all and (max-width: 1024px) {
				margin-left: 32px;
				max-width: 342px;
				// margin-right: 0;
			}

			@media all and (max-width: $mobile-breakpoint) {
				max-width: none;
				position: static;
				margin: 40px 30px 0;
			}
		}

		figure {
			img {
				float: right;
				position: absolute;
				top: 193px;
				left: 50%;
				margin-left: 20px;

				@media all and (max-width: 1024px) {
					margin-left: 66px;
					top: 86px;
				}

				@media all and (max-width: 680px) {
					float: none;
					display: block;
					position: static !important;
					margin: 16px auto 84px;
					width: 70%;
				}

				@media all and (max-width: 460px) {

					width: 100%;
					padding: 0 30px;

				}
			}

		}
	}
}

#support-section {

	height: 890px;
	padding-top: 100px;
	padding-bottom: 150px;

	@media all and (max-width: 1024px) {
		height: 850px;
		padding-top: 84px;
	}

	@media all and (max-width: $mobile-breakpoint) {
		height: auto;
		padding: 38px 25px 35px 35px;
	}

	.center-aligned-block {
		max-width: 630px;

		@media all and (min-width: $mobile-breakpoint + 1) {
			& > p {
				margin-bottom: 0;
			}
		}

		@media all and (max-width: 1024px) {
			max-width: 500px;
		}
	}
	
	.container {
		position: relative;
		padding-top: 88px;

		@media all and (max-width: 1024px) {
			padding-top: 60px;
		}

		@media all and (max-width: $mobile-breakpoint) {
			padding-top: 0;
			margin: 0;
		}

		.right-aligned-block {
			max-width: 380px;
			position: relative;
			float: none;
			left: 50%;
			margin-left: 88px;
			
			ul {
				li {

					margin-top: 25px;

					@media all and (max-width: $mobile-breakpoint) {
						margin-top: 18px;
					}

					img {		
						display: block;
						float: left;
					}
					p {
						padding-left: 24px;
						position: relative;
						top:-4px;
					}
				}
			}


			@media all and (max-width: 1024px) {
				max-width: 358px;
				margin-left: 12px;
			}

			@media all and (max-width: 760px) {
				left: 40%;
			}

			@media all and (max-width: $mobile-breakpoint) {
				position: static;
				margin: 0 auto;
				max-width: none;
				margin-bottom: 44px;
			}

		}

		figure {
			img {
				display: inline-block;
				position: absolute;
				top: 52px;
				right: 50%;
				margin-right: 60px;

				@media all and (max-width: 1024px) {
					margin-right: 32px;
					top: 56px;
					right: 60%;
				}

				@media all and (max-width: $mobile-breakpoint) {
					
					position: static;
					width: 100%;
					height: auto;
					margin-right: auto;
					margin-left: auto;
					

					padding-left: 12%;
					padding-right: 12%;
				}

				@media all and (max-width: 500px) {
					padding: 0;
				}
			}

			@media all and (max-width: $mobile-breakpoint) {

				width: auto;
				overflow: hidden;
				padding-right: 20px;

				margin-left: -35px;
				margin-right: -35px;
				text-align: center;

			}

			@media all and (max-width: 500px) {
					margin-left: 0;
					margin-right: 0;
				}
		}
	}
}

#in-contact-section {
	.container {
		padding-top: 90px;
		padding-bottom: 68px;

		@media all and (max-width: 1024px) {
			padding-top: 84px;
			padding-bottom: 96px;
		}

		@media all and (max-width: $mobile-breakpoint) {
			padding: 50px 5px 37px;
		}

		.center-aligned-block {
			max-width: 552px;
		}

		img {
			display: block;
			margin: 0 auto;
			max-width: 910px;
			width: 100%;

			@media all and (max-width: 1024px) {
				max-width: none;
				margin-top: 36px;
			}
		}

		@media all and (max-width: $mobile-breakpoint) {
			figure {
				margin-top: 26px;
				margin-left: -35px;
				margin-right: -35px;
				height: 158px;
				background: url('../img/how_we_work/in_contact_fig.png') center center no-repeat;
				background-size: 502px 158px;

				img {
					display: none;
				}
			}
		}
	}
}

#get-demo-section {
	.container {
		padding-top: 80px;
		padding-bottom: 122px;

		@media all and (max-width: $mobile-breakpoint) {
			padding-top: 35px;
		}

		.center-aligned-block {
			p {
				max-width: 574px;

				@media all and (max-width: $mobile-breakpoint) {
					max-width: 464px;
				}
			}
		}

		.form {
			margin: 36px auto 0;

			.button-container {
				margin: 0 auto;
			}
		}
	}
}

#shadowed-navigation-section {
	box-shadow: 0 0 16px 4px rgba(43, 128, 255, 0.2);
	position: relative;
	z-index: 100;
}

