
.button {
	display: block;
	width: 400px;

	font-family: Gilroy !important;
	font-size: 15px !important;
	font-weight: 500 !important;
	text-transform: uppercase !important;
	line-height: initial !important;

	color: white;
	background-color: $primary-color;

	padding: 16px 52px;

	padding-top: 16px !important;
	padding-bottom: 16px !important;

	border: none;
	cursor: pointer;
}

.number-in-circle {
	display: block;

	font-size: 36px !important;
	font-weight: 600 !important;
	line-height: 96px !important;
	
	width: 96px !important;
	height: 96px !important;
	background-color: white;
	color: $primary-color !important;

	box-shadow: 0 0 16px 4px transparentize($primary-color, 0.6);

	border-radius: 48px !important;
	border: none;
}