
@mixin button($font-size, $line-height, $padding) {
	background:none !important;

	display: inline-block;

	font-size: $font-size !important;
	font-weight: 500 !important;
	text-transform: uppercase !important;
	line-height: $line-height;
	letter-spacing: 0.1em;

	padding: 0 $padding;
	border-radius: 3px;

	transition: 0.33s;
	appearance: none;
	border: none;
	cursor: pointer;
}


.button {
	@media all and (min-width: $mobile-breakpoint + 1) {
		@include button(14px, 60px, 25px);
	}

	@media all and (max-width: $mobile-breakpoint) {
		@include button(12px, 43px, 15px);
	}
}

.small-button {
	@include button(12px, 43px, 15px);

}

.small-button-inverted {
	@include button(13px, 40px, 15px);

	border-width: 1px;
	border-style: solid;
}

.number-in-circle {
	display: block;

	font-size: 36px !important;
	font-weight: 600 !important;
	line-height: 96px !important;
	
	width: 96px;
	height: 96px;

	@media all and (max-width: $mobile-breakpoint) {
		width: 72px;
		height: 72px;
		font-size: 30px !important;
		line-height: 72px !important;
	}

	background-color: white;
	color: $primary-color !important;

	box-shadow: 0 0 16px 4px transparentize($primary-color, 0.6);

	border-radius: 48px !important;
	border: none;
}

@mixin navicon($size, $inset) {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
	cursor: pointer;
	transition: background $mediumAnimationDuration;
	width: (18px + $inset*2)*$size;
	height: (18px + $inset*2)*$size;

	span::before {
		top: -6px*$size;
		transition-property: top, transform;
	}

	span::after {
		bottom: -6px*$size;
		transition-property: bottom, transform;
	}


	span {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 8px*$size;
		height: 2px*$size;
		background: white;
		margin: $size*$inset;

		transition: background 0s $mediumAnimationDuration;
	}

	span::before,
	span::after {
		position: absolute;
		display: block;
		left: 0;
		height: 2px*$size;
		width: 100%;
		background-color: #fff;
		content: "";
		transition-duration: $mediumAnimationDuration, $mediumAnimationDuration;
		transition-delay: $mediumAnimationDuration, 0s;
	}

	&.active span {
		background-color: transparent !important;
	}

	&.active span::before {
		top: 0;
		transform: rotate(45deg);
	}

	&.active span::after {
		bottom: 0;
		transform: rotate(-45deg);
	}

	&.active span::before,
	&.active span::after {
		transition-delay: 0s, $mediumAnimationDuration;
	}
}

#navicon {
	display: none;

	@media all and (max-width: 1024px) and (min-width: $mobile-breakpoint + 1) { 
		@include navicon(1.5, 8px);
	}

	@media all and (max-width: $mobile-breakpoint) { 
		@include navicon(1, 4px);
	}
}

textarea {
	resize: none;
}

@mixin pageControl($size) {
	$base-size: 8px;
	$interval: 8px;
	$border-width: 1px;

	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
	transition: background $mediumAnimationDuration;
	width: ($base-size)*$size*3 + 2*$interval*$size;
	height: ($base-size) * $size;

	@for $i from 1 through 3 {
		span:nth-child(#{$i}) {
			display: block;
			position: absolute;
			left: ($i - 1) * ($base-size + $interval);
			top: 0;
			width: $base-size*$size;
			height: $base-size*$size;
			border: $border-width solid $primary-color;
			border-radius: 50%;
			background: transparent;
			margin: 0;

			transition: $mediumAnimationDuration;
		}
	}

	span {
		display: block;
	}

	span.active {
		background-color: $primary-color;
	}

}

.page-control {
	@include pageControl(1);
	z-index: 1000;
}