
.button {
	display: inline-block;
	// width: 400px;

	font-family: Gilroy !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	text-transform: uppercase !important;
	line-height: 60px;
	letter-spacing: 0.1em;


	padding: 0 25px;
	border-radius: 3px;

	transition: 0.33s;

	border: none;
	cursor: pointer;

	@media all and (max-width: 768px) {
		font-size: 10px !important;
		font-weight: 400 !important;
		padding: 0 16px;
	}
}

.call-to-action {
	@extend .button;
}

.number-in-circle {
	display: block;

	font-size: 36px !important;
	font-weight: 600 !important;
	line-height: 96px !important;
	
	width: 96px;
	height: 96px;

	@media all and (max-width: 768px) {
		width: 72px;
		height: 72px;
		font-size: 30px !important;
		line-height: 72px !important;
	}

	background-color: white;
	color: $primary-color !important;

	box-shadow: 0 0 16px 4px transparentize($primary-color, 0.6);

	border-radius: 48px !important;
	border: none;
}