* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.hidden {
	display: none !important;
}

$primary-color: #2b80ff;
$mobile-breakpoint: 650px;

$fastAnimationDuration: 0.17s;
$mediumAnimationDuration: 0.33s;
$longAnimationDuration: 2s;

@import "views";
@import "colors";
@import "layout";
@import "fonts";
@import "animations";