* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.hidden {
	visibility: hidden !important;
}

$primary-color: #2b80ff;

@import "layout";
@import "fonts";
@import "colors";
@import "views";